In [1]:
import pandas as pd

import sys
sys.path.insert(1, '../../../scripts/')
from s3_support import *

In [11]:
preds = get_dataframe_from_file("qgiv-stats-data", "preds.growth.csv")

In [12]:
preds['date'].unique()

array(['2019-09-10 19:16:04.225378', '2019-09-16 19:40:01.866121',
       '2019-09-24 05:35:02.781443', '2019-09-30 09:28:14.748411',
       '2019-10-07 07:22:12.892434', '2019-10-14 06:42:50.607776',
       '2019-10-21 07:35:38.240750', '2019-10-29 08:50:04.920179',
       '2019-11-04 00:24:01.597719', '2019-11-11 06:57:10.108937',
       '2019-11-25 09:02:55.351391', '2019-12-02 05:01:03.624318',
       '2019-12-09 06:41:25.759532', '2019-12-16 07:20:05.275489',
       '2019-12-23 07:29:58.889306', '2019-12-30 00:42:27.002675',
       '2020-01-05 22:38:31.654283', '2020-01-13 00:34:17.091519',
       '2020-01-19 21:12:46.254412', '2020-01-26 21:05:03.434397',
       '2020-02-02 22:00:53.260082', '2020-02-09 22:01:20.515193',
       '2020-02-16 21:52:11.141031', '2020-02-24 11:12:17.843834',
       '2020-03-01 22:55:28.341258', '2020-03-08 23:02:50.799669',
       '2020-03-15 22:33:45.052363', '2020-03-23 01:19:06.449738',
       '2020-03-30 00:30:50.471801', '2020-04-05 23:06:02.408991',
       '2020-04-13 03:51:48.351777'], dtype=object)

In [7]:
preds.head(3)

,org,low_recurring,high_events,high_sms,only_p2p,low_dl,total,date
0,441463.0,True,True,False,True,True,4,2019-09-10 19:16:04.225378
1,76803.0,True,True,False,True,True,4,2019-09-10 19:16:04.225378
2,442318.0,True,True,False,True,True,4,2019-09-10 19:16:04.225378

# Org names

In [8]:
org_names = get_dataframe_from_file("qgiv-stats-data", "organizations.names.csv")
org_names.head(3)

,id,org_name,tax_id,sic,street,city,state,zip,country,live_date,...,status,pricing_package,reseller,previously_accepted_credit_online,segment,tags,date_closed,reason_closed,new_provider,additional_churn_info
0,441789,NaN,821776812,NaN,"440 Cobia Drive, Suite 704 TX",Katy,TX,77494,US,12/31/1969,...,pending,Start,Qgiv,No,Z - Unknown,NaN,NaN,NaN,NaN,NaN
1,443044,NaN,155627786,NaN,,NaN,South Carolina,NaN,US,12/31/1969,...,pending,Start,Qgiv,No,NaN,NaN,NaN,NaN,NaN,NaN
2,1045,FROM Food Fight,NaN,NaN,11535 Fulton Street East,Lowell,MI,49331,US,03/14/2011,...,closed,Legacy Pricing,Z- Mission Research,No,NaN,NaN,2011-06-30 00:00:00,Voluntary - Automatically Updated,NaN,NaN