In [1]:
import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

import pandas as pd
import numpy as np
import swifter

### Loading data

In [2]:
org_start_dates = get_dataframe_from_file("qgiv-stats-data", "org_start_dates.csv")

### Tagging transactions

In [3]:
queries = [
    "create table transactions_tag (like transactions)",
    "insert into transactions_tag (select * from transactions)",
    "alter table transactions_tag add column wk1 boolean default FALSE",
    "alter table transactions_tag add column wk4 boolean default FALSE",
    "alter table transactions_tag add column wk12 boolean default FALSE",
    "alter table transactions_tag add column wk24 boolean default FALSE",
    "alter table transactions_tag add column wk52 boolean default FALSE"
]

In [4]:
org_start_dates.head(3)

   org  start_date      week_1      week_4     week_12     week_24     week_52
0    0  2009-02-02  2009-02-09  2009-03-04  2009-05-03  2009-08-01  2010-02-01
1    6  2006-05-18  2006-05-25  2006-06-17  2006-08-16  2006-11-14  2007-05-17
2    9  2009-04-28  2009-05-05  2009-05-28  2009-07-27  2009-10-25  2010-04-27

In [9]:
counter = 0
# tag database entries
for _, r in org_start_dates.iterrows():
    if r['org'] == 0:
        continue
        
    query = "update transactions_tag set {}=True where org={} and date between '{}' and '{}';"
    
    # wk1
    #print(redshift_query(query.format('wk1', r['org'], r['start_date'], r['week_1'])))
    print(query.format('wk1', r['org'], r['start_date'], r['week_1']))
    # wk4
    #print(redshift_query(query.format('wk4', r['org'], r['week_1'], r['week_4'])))
    print(query.format('wk4', r['org'], r['week_1'], r['week_4']))
    # wk12
    #print(redshift_query(query.format('wk12', r['org'], r['week_4'], r['week_12'])))
    print(query.format('wk12', r['org'], r['week_4'], r['week_12']))
    # wk24
    #print(redshift_query(query.format('wk24', r['org'], r['week_12'], r['week_24'])))
    print(query.format('wk24', r['org'], r['week_12'], r['week_24']))
    # wk52
    #print(redshift_query(query.format('wk52', r['org'], r['week_24'], r['week_52'])))
    print(query.format('wk52', r['org'], r['week_24'], r['week_52']))
    
    counter += 1
    if counter % 250 == 0:
        break
        print("done with {} orgs".format(counter))

update transactions_tag set wk1=True where org=6 and date between '2006-05-18' and '2006-05-25';
update transactions_tag set wk4=True where org=6 and date between '2006-05-25' and '2006-06-17';
update transactions_tag set wk12=True where org=6 and date between '2006-06-17' and '2006-08-16';
update transactions_tag set wk24=True where org=6 and date between '2006-08-16' and '2006-11-14';
update transactions_tag set wk52=True where org=6 and date between '2006-11-14' and '2007-05-17';
update transactions_tag set wk1=True where org=9 and date between '2009-04-28' and '2009-05-05';
update transactions_tag set wk4=True where org=9 and date between '2009-05-05' and '2009-05-28';
update transactions_tag set wk12=True where org=9 and date between '2009-05-28' and '2009-07-27';
update transactions_tag set wk24=True where org=9 and date between '2009-07-27' and '2009-10-25';
update transactions_tag set wk52=True where org=9 and date between '2009-10-25' and '2010-04-27';
update transactions_tag set wk1=True where org=13 and date between '2006-08-22' and '2006-08-29';
update transactions_tag set wk4=True where org=13 and date between '2006-08-29' and '2006-09-21';
update transactions_tag set wk12=True where org=13 and date between '2006-09-21' and '2006-11-20';
update transactions_tag set wk24=True where org=13 and date between '2006-11-20' and '2007-02-18';
update transactions_tag set wk52=True where org=13 and date between '2007-02-18' and '2007-08-21';
update transactions_tag set wk1=True where org=17 and date between '2007-02-06' and '2007-02-13';
update transactions_tag set wk4=True where org=17 and date between '2007-02-13' and '2007-03-08';
update transactions_tag set wk12=True where org=17 and date between '2007-03-08' and '2007-05-07';
update transactions_tag set wk24=True where org=17 and date between '2007-05-07' and '2007-08-05';
update transactions_tag set wk52=True where org=17 and date between '2007-08-05' and '2008-02-05';
update transactions_tag set wk1=True where org=23 and date between '2007-04-05' and '2007-04-12';
update transactions_tag set wk4=True where org=23 and date between '2007-04-12' and '2007-05-05';
update transactions_tag set wk12=True where org=23 and date between '2007-05-05' and '2007-07-04';
update transactions_tag set wk24=True where org=23 and date between '2007-07-04' and '2007-10-02';
update transactions_tag set wk52=True where org=23 and date between '2007-10-02' and '2008-04-03';
update transactions_tag set wk1=True where org=24 and date between '2007-04-05' and '2007-04-12';
update transactions_tag set wk4=True where org=24 and date between '2007-04-12' and '2007-05-05';
update transactions_tag set wk12=True where org=24 and date between '2007-05-05' and '2007-07-04';
update transactions_tag set wk24=True where org=24 and date between '2007-07-04' and '2007-10-02';
update transactions_tag set wk52=True where org=24 and date between '2007-10-02' and '2008-04-03';
update transactions_tag set wk1=True where org=25 and date between '2007-05-15' and '2007-05-22';
update transactions_tag set wk4=True where org=25 and date between '2007-05-22' and '2007-06-14';
update transactions_tag set wk12=True where org=25 and date between '2007-06-14' and '2007-08-13';
update transactions_tag set wk24=True where org=25 and date between '2007-08-13' and '2007-11-11';
update transactions_tag set wk52=True where org=25 and date between '2007-11-11' and '2008-05-13';
update transactions_tag set wk1=True where org=31 and date between '2007-05-18' and '2007-05-25';
update transactions_tag set wk4=True where org=31 and date between '2007-05-25' and '2007-06-17';
update transactions_tag set wk12=True where org=31 and date between '2007-06-17' and '2007-08-16';
update transactions_tag set wk24=True where org=31 and date between '2007-08-16' and '2007-11-14';
update transactions_tag set wk52=True where org=31 and date between '2007-11-14' and '2008-05-16';
update transactions_tag set wk1=True where org=33 and date between '2007-06-12' and '2007-06-19';
update transactions_tag set wk4=True where org=33 and date between '2007-06-19' and '2007-07-12';
update transactions_tag set wk12=True where org=33 and date between '2007-07-12' and '2007-09-10';
update transactions_tag set wk24=True where org=33 and date between '2007-09-10' and '2007-12-09';
update transactions_tag set wk52=True where org=33 and date between '2007-12-09' and '2008-06-10';
update transactions_tag set wk1=True where org=36 and date between '2007-06-25' and '2007-07-02';
update transactions_tag set wk4=True where org=36 and date between '2007-07-02' and '2007-07-25';
update transactions_tag set wk12=True where org=36 and date between '2007-07-25' and '2007-09-23';
update transactions_tag set wk24=True where org=36 and date between '2007-09-23' and '2007-12-22';
update transactions_tag set wk52=True where org=36 and date between '2007-12-22' and '2008-06-23';
update transactions_tag set wk1=True where org=38 and date between '2007-07-02' and '2007-07-09';
update transactions_tag set wk4=True where org=38 and date between '2007-07-09' and '2007-08-01';
update transactions_tag set wk12=True where org=38 and date between '2007-08-01' and '2007-09-30';
update transactions_tag set wk24=True where org=38 and date between '2007-09-30' and '2007-12-29';
update transactions_tag set wk52=True where org=38 and date between '2007-12-29' and '2008-06-30';
update transactions_tag set wk1=True where org=39 and date between '2007-12-07' and '2007-12-14';
update transactions_tag set wk4=True where org=39 and date between '2007-12-14' and '2008-01-06';
update transactions_tag set wk12=True where org=39 and date between '2008-01-06' and '2008-03-06';
update transactions_tag set wk24=True where org=39 and date between '2008-03-06' and '2008-06-04';
update transactions_tag set wk52=True where org=39 and date between '2008-06-04' and '2008-12-05';
update transactions_tag set wk1=True where org=40 and date between '2007-07-27' and '2007-08-03';
update transactions_tag set wk4=True where org=40 and date between '2007-08-03' and '2007-08-26';
update transactions_tag set wk12=True where org=40 and date between '2007-08-26' and '2007-10-25';
update transactions_tag set wk24=True where org=40 and date between '2007-10-25' and '2008-01-23';
update transactions_tag set wk52=True where org=40 and date between '2008-01-23' and '2008-07-25';
update transactions_tag set wk1=True where org=41 and date between '2007-08-21' and '2007-08-28';
update transactions_tag set wk4=True where org=41 and date between '2007-08-28' and '2007-09-20';
update transactions_tag set wk12=True where org=41 and date between '2007-09-20' and '2007-11-19';
update transactions_tag set wk24=True where org=41 and date between '2007-11-19' and '2008-02-17';
update transactions_tag set wk52=True where org=41 and date between '2008-02-17' and '2008-08-19';
update transactions_tag set wk1=True where org=42 and date between '2007-08-14' and '2007-08-21';
update transactions_tag set wk4=True where org=42 and date between '2007-08-21' and '2007-09-13';
update transactions_tag set wk12=True where org=42 and date between '2007-09-13' and '2007-11-12';
update transactions_tag set wk24=True where org=42 and date between '2007-11-12' and '2008-02-10';
update transactions_tag set wk52=True where org=42 and date between '2008-02-10' and '2008-08-12';
update transactions_tag set wk1=True where org=43 and date between '2007-08-07' and '2007-08-14';
update transactions_tag set wk4=True where org=43 and date between '2007-08-14' and '2007-09-06';
update transactions_tag set wk12=True where org=43 and date between '2007-09-06' and '2007-11-05';
update transactions_tag set wk24=True where org=43 and date between '2007-11-05' and '2008-02-03';
update transactions_tag set wk52=True where org=43 and date between '2008-02-03' and '2008-08-05';
update transactions_tag set wk1=True where org=44 and date between '2007-08-14' and '2007-08-21';
update transactions_tag set wk4=True where org=44 and date between '2007-08-21' and '2007-09-13';
update transactions_tag set wk12=True where org=44 and date between '2007-09-13' and '2007-11-12';
update transactions_tag set wk24=True where org=44 and date between '2007-11-12' and '2008-02-10';
update transactions_tag set wk52=True where org=44 and date between '2008-02-10' and '2008-08-12';
update transactions_tag set wk1=True where org=45 and date between '2007-08-14' and '2007-08-21';
update transactions_tag set wk4=True where org=45 and date between '2007-08-21' and '2007-09-13';
update transactions_tag set wk12=True where org=45 and date between '2007-09-13' and '2007-11-12';
update transactions_tag set wk24=True where org=45 and date between '2007-11-12' and '2008-02-10';
update transactions_tag set wk52=True where org=45 and date between '2008-02-10' and '2008-08-12';
update transactions_tag set wk1=True where org=48 and date between '2007-08-31' and '2007-09-07';
update transactions_tag set wk4=True where org=48 and date between '2007-09-07' and '2007-09-30';
update transactions_tag set wk12=True where org=48 and date between '2007-09-30' and '2007-11-29';
update transactions_tag set wk24=True where org=48 and date between '2007-11-29' and '2008-02-27';
update transactions_tag set wk52=True where org=48 and date between '2008-02-27' and '2008-08-29';
update transactions_tag set wk1=True where org=50 and date between '2007-08-24' and '2007-08-31';
update transactions_tag set wk4=True where org=50 and date between '2007-08-31' and '2007-09-23';
update transactions_tag set wk12=True where org=50 and date between '2007-09-23' and '2007-11-22';
update transactions_tag set wk24=True where org=50 and date between '2007-11-22' and '2008-02-20';
update transactions_tag set wk52=True where org=50 and date between '2008-02-20' and '2008-08-22';
update transactions_tag set wk1=True where org=51 and date between '2007-08-31' and '2007-09-07';
update transactions_tag set wk4=True where org=51 and date between '2007-09-07' and '2007-09-30';
update transactions_tag set wk12=True where org=51 and date between '2007-09-30' and '2007-11-29';
update transactions_tag set wk24=True where org=51 and date between '2007-11-29' and '2008-02-27';
update transactions_tag set wk52=True where org=51 and date between '2008-02-27' and '2008-08-29';
update transactions_tag set wk1=True where org=52 and date between '2007-09-12' and '2007-09-19';
update transactions_tag set wk4=True where org=52 and date between '2007-09-19' and '2007-10-12';
update transactions_tag set wk12=True where org=52 and date between '2007-10-12' and '2007-12-11';
update transactions_tag set wk24=True where org=52 and date between '2007-12-11' and '2008-03-10';
update transactions_tag set wk52=True where org=52 and date between '2008-03-10' and '2008-09-10';
update transactions_tag set wk1=True where org=53 and date between '2007-09-10' and '2007-09-17';
update transactions_tag set wk4=True where org=53 and date between '2007-09-17' and '2007-10-10';
update transactions_tag set wk12=True where org=53 and date between '2007-10-10' and '2007-12-09';
update transactions_tag set wk24=True where org=53 and date between '2007-12-09' and '2008-03-08';
update transactions_tag set wk52=True where org=53 and date between '2008-03-08' and '2008-09-08';
update transactions_tag set wk1=True where org=54 and date between '2007-09-12' and '2007-09-19';
update transactions_tag set wk4=True where org=54 and date between '2007-09-19' and '2007-10-12';
update transactions_tag set wk12=True where org=54 and date between '2007-10-12' and '2007-12-11';
update transactions_tag set wk24=True where org=54 and date between '2007-12-11' and '2008-03-10';
update transactions_tag set wk52=True where org=54 and date between '2008-03-10' and '2008-09-10';
update transactions_tag set wk1=True where org=55 and date between '2007-09-12' and '2007-09-19';
update transactions_tag set wk4=True where org=55 and date between '2007-09-19' and '2007-10-12';
update transactions_tag set wk12=True where org=55 and date between '2007-10-12' and '2007-12-11';
update transactions_tag set wk24=True where org=55 and date between '2007-12-11' and '2008-03-10';
update transactions_tag set wk52=True where org=55 and date between '2008-03-10' and '2008-09-10';
update transactions_tag set wk1=True where org=56 and date between '2007-09-24' and '2007-10-01';
update transactions_tag set wk4=True where org=56 and date between '2007-10-01' and '2007-10-24';
update transactions_tag set wk12=True where org=56 and date between '2007-10-24' and '2007-12-23';
update transactions_tag set wk24=True where org=56 and date between '2007-12-23' and '2008-03-22';
update transactions_tag set wk52=True where org=56 and date between '2008-03-22' and '2008-09-22';
update transactions_tag set wk1=True where org=57 and date between '2007-10-05' and '2007-10-12';
update transactions_tag set wk4=True where org=57 and date between '2007-10-12' and '2007-11-04';
update transactions_tag set wk12=True where org=57 and date between '2007-11-04' and '2008-01-03';
update transactions_tag set wk24=True where org=57 and date between '2008-01-03' and '2008-04-02';
update transactions_tag set wk52=True where org=57 and date between '2008-04-02' and '2008-10-03';
update transactions_tag set wk1=True where org=58 and date between '2007-10-10' and '2007-10-17';
update transactions_tag set wk4=True where org=58 and date between '2007-10-17' and '2007-11-09';
update transactions_tag set wk12=True where org=58 and date between '2007-11-09' and '2008-01-08';
update transactions_tag set wk24=True where org=58 and date between '2008-01-08' and '2008-04-07';
update transactions_tag set wk52=True where org=58 and date between '2008-04-07' and '2008-10-08';
update transactions_tag set wk1=True where org=59 and date between '2007-10-24' and '2007-10-31';
update transactions_tag set wk4=True where org=59 and date between '2007-10-31' and '2007-11-23';
update transactions_tag set wk12=True where org=59 and date between '2007-11-23' and '2008-01-22';
update transactions_tag set wk24=True where org=59 and date between '2008-01-22' and '2008-04-21';
update transactions_tag set wk52=True where org=59 and date between '2008-04-21' and '2008-10-22';
update transactions_tag set wk1=True where org=60 and date between '2007-10-26' and '2007-11-02';
update transactions_tag set wk4=True where org=60 and date between '2007-11-02' and '2007-11-25';
update transactions_tag set wk12=True where org=60 and date between '2007-11-25' and '2008-01-24';
update transactions_tag set wk24=True where org=60 and date between '2008-01-24' and '2008-04-23';
update transactions_tag set wk52=True where org=60 and date between '2008-04-23' and '2008-10-24';
update transactions_tag set wk1=True where org=61 and date between '2007-10-24' and '2007-10-31';
update transactions_tag set wk4=True where org=61 and date between '2007-10-31' and '2007-11-23';
update transactions_tag set wk12=True where org=61 and date between '2007-11-23' and '2008-01-22';
update transactions_tag set wk24=True where org=61 and date between '2008-01-22' and '2008-04-21';
update transactions_tag set wk52=True where org=61 and date between '2008-04-21' and '2008-10-22';
update transactions_tag set wk1=True where org=62 and date between '2007-10-25' and '2007-11-01';
update transactions_tag set wk4=True where org=62 and date between '2007-11-01' and '2007-11-24';
update transactions_tag set wk12=True where org=62 and date between '2007-11-24' and '2008-01-23';
update transactions_tag set wk24=True where org=62 and date between '2008-01-23' and '2008-04-22';
update transactions_tag set wk52=True where org=62 and date between '2008-04-22' and '2008-10-23';
update transactions_tag set wk1=True where org=63 and date between '2007-10-24' and '2007-10-31';
update transactions_tag set wk4=True where org=63 and date between '2007-10-31' and '2007-11-23';
update transactions_tag set wk12=True where org=63 and date between '2007-11-23' and '2008-01-22';
update transactions_tag set wk24=True where org=63 and date between '2008-01-22' and '2008-04-21';
update transactions_tag set wk52=True where org=63 and date between '2008-04-21' and '2008-10-22';
update transactions_tag set wk1=True where org=64 and date between '2007-11-07' and '2007-11-14';
update transactions_tag set wk4=True where org=64 and date between '2007-11-14' and '2007-12-07';
update transactions_tag set wk12=True where org=64 and date between '2007-12-07' and '2008-02-05';
update transactions_tag set wk24=True where org=64 and date between '2008-02-05' and '2008-05-05';
update transactions_tag set wk52=True where org=64 and date between '2008-05-05' and '2008-11-05';
update transactions_tag set wk1=True where org=66 and date between '2007-11-21' and '2007-11-28';
update transactions_tag set wk4=True where org=66 and date between '2007-11-28' and '2007-12-21';
update transactions_tag set wk12=True where org=66 and date between '2007-12-21' and '2008-02-19';
update transactions_tag set wk24=True where org=66 and date between '2008-02-19' and '2008-05-19';
update transactions_tag set wk52=True where org=66 and date between '2008-05-19' and '2008-11-19';
update transactions_tag set wk1=True where org=67 and date between '2007-11-29' and '2007-12-06';
update transactions_tag set wk4=True where org=67 and date between '2007-12-06' and '2007-12-29';
update transactions_tag set wk12=True where org=67 and date between '2007-12-29' and '2008-02-27';
update transactions_tag set wk24=True where org=67 and date between '2008-02-27' and '2008-05-27';
update transactions_tag set wk52=True where org=67 and date between '2008-05-27' and '2008-11-27';
update transactions_tag set wk1=True where org=68 and date between '2007-12-11' and '2007-12-18';
update transactions_tag set wk4=True where org=68 and date between '2007-12-18' and '2008-01-10';
update transactions_tag set wk12=True where org=68 and date between '2008-01-10' and '2008-03-10';
update transactions_tag set wk24=True where org=68 and date between '2008-03-10' and '2008-06-08';
update transactions_tag set wk52=True where org=68 and date between '2008-06-08' and '2008-12-09';
update transactions_tag set wk1=True where org=69 and date between '2007-12-11' and '2007-12-18';
update transactions_tag set wk4=True where org=69 and date between '2007-12-18' and '2008-01-10';
update transactions_tag set wk12=True where org=69 and date between '2008-01-10' and '2008-03-10';
update transactions_tag set wk24=True where org=69 and date between '2008-03-10' and '2008-06-08';
update transactions_tag set wk52=True where org=69 and date between '2008-06-08' and '2008-12-09';
update transactions_tag set wk1=True where org=70 and date between '2007-12-11' and '2007-12-18';
update transactions_tag set wk4=True where org=70 and date between '2007-12-18' and '2008-01-10';
update transactions_tag set wk12=True where org=70 and date between '2008-01-10' and '2008-03-10';
update transactions_tag set wk24=True where org=70 and date between '2008-03-10' and '2008-06-08';
update transactions_tag set wk52=True where org=70 and date between '2008-06-08' and '2008-12-09';
update transactions_tag set wk1=True where org=71 and date between '2007-12-18' and '2007-12-25';
update transactions_tag set wk4=True where org=71 and date between '2007-12-25' and '2008-01-17';
update transactions_tag set wk12=True where org=71 and date between '2008-01-17' and '2008-03-17';
update transactions_tag set wk24=True where org=71 and date between '2008-03-17' and '2008-06-15';
update transactions_tag set wk52=True where org=71 and date between '2008-06-15' and '2008-12-16';
update transactions_tag set wk1=True where org=72 and date between '2007-12-17' and '2007-12-24';
update transactions_tag set wk4=True where org=72 and date between '2007-12-24' and '2008-01-16';

In [ ]:
trans_agg_data = []
for _, r in org_start_dates.iterrows():
    if r['org'] == 0:
        continue
        
    data = {
        'org': r['org'],
        'wk1_count': 
    }

In [ ]:
save_dataframe_to_file("trans-records", "transactions-week-tagged.csv", transactions)