Org's with events in both 2021 and 2022, as well as all events from 2021 and 2022 grouped by year
- count of events
- dollars raised (online and offline)

In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

In [2]:
q = '''select 
            org,
            form,
            year,
            count(id) as trans_count,
            sum(amount) as trans_volume,
            sum(donations_count) as donations_count,
            sum(donations_amt) as donations_volume,
            sum(registrations_count) as registrations_count,
            sum(registrations_amt) as registrations_volume
        from transactions
        where 
            status='A' and 
            source='p2p' and 
            year>='2019' 
        group by org, form, year'''
df = redshift_query_read(q, schema='production')

In [3]:
df.tail(3)

,org,form,year,trans_count,trans_volume,donations_count,donations_volume,registrations_count,registrations_volume
8591,445650,987399,2023,1,10.45,1,10.0,0,0.0
8592,27639,935949,2019,1,26.25,1,25.0,0,0.0
8593,444370,975566,2021,1,500.00,1,500.0,0,0.0

In [4]:
print("len(org): {:,}".format(len(df['org'].unique())))
print("len(org 2019): {:,}".format(len(df[df['year']==2019]['org'].unique())))
print("len(org 2020): {:,}".format(len(df[df['year']==2020]['org'].unique())))
print("len(org 2021): {:,}".format(len(df[df['year']==2021]['org'].unique())))
print("len(org 2022): {:,}".format(len(df[df['year']==2022]['org'].unique())))

orgs_2019 = df[df['year']==2019]['org'].unique()
orgs_2020 = df[df['year']==2020]['org'].unique()
orgs_2021 = df[df['year']==2021]['org'].unique()
len_2021_n_2022 = len(df[(df['org'].isin(orgs_2021))&(df['year']==2022)]['org'].unique())

print("len(org 2021 & 2022): {:,}".format(len_2021_n_2022))

len(org): 1,162
len(org 2019): 512
len(org 2020): 626
len(org 2021): 663
len(org 2022): 753
len(org 2021 & 2022): 541

In [5]:
data = []

In [6]:
df_2019 = df[df['year']==2019]

data.append({
    'year': '2019',
    'orgs': len(df_2019['org'].unique()),
    'events': len(df_2019['form'].unique()),
    'transactions': df_2019['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2019['trans_volume'].sum()),
    'donations': df_2019['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2019['donations_volume'].sum()),
    'registrations': df_2019['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2019['registrations_volume'].sum())
})

In [7]:
df_2020 = df[df['year']==2020]

data.append({
    'year': '2020',
    'orgs': len(df_2020['org'].unique()),
    'events': len(df_2020['form'].unique()),
    'transactions': df_2020['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2020['trans_volume'].sum()),
    'donations': df_2020['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2020['donations_volume'].sum()),
    'registrations': df_2020['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2020['registrations_volume'].sum())
})

In [8]:
df_2019_n_2020 = df[(df['org'].isin(orgs_2019))&(df['year']==2020)]

data.append({
    'year': '2019 & 2020',
    'orgs': len(df_2019_n_2020['org'].unique()),
    'events': len(df_2019_n_2020['form'].unique()),
    'transactions': df_2019_n_2020['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2019_n_2020['trans_volume'].sum()),
    'donations': df_2019_n_2020['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2019_n_2020['donations_volume'].sum()),
    'registrations': df_2019_n_2020['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2019_n_2020['registrations_volume'].sum())
})

In [9]:
df_2021 = df[df['year']==2021]

data.append({
    'year': '2021',
    'orgs': len(df_2021['org'].unique()),
    'events': len(df_2021['form'].unique()),
    'transactions': df_2021['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2021['trans_volume'].sum()),
    'donations': df_2021['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2021['donations_volume'].sum()),
    'registrations': df_2021['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2021['registrations_volume'].sum())
})

In [10]:
df_2020_n_2021 = df[(df['org'].isin(orgs_2020))&(df['year']==2021)]

data.append({
    'year': '2020 & 2021',
    'orgs': len(df_2020_n_2021['org'].unique()),
    'events': len(df_2020_n_2021['form'].unique()),
    'transactions': df_2020_n_2021['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2020_n_2021['trans_volume'].sum()),
    'donations': df_2020_n_2021['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2020_n_2021['donations_volume'].sum()),
    'registrations': df_2020_n_2021['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2020_n_2021['registrations_volume'].sum())
})

In [11]:
df_2022 = df[df['year']==2022]

data.append({
    'year': '2022',
    'orgs': len(df_2022['org'].unique()),
    'events': len(df_2022['form'].unique()),
    'transactions': df_2022['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2022['trans_volume'].sum()),
    'donations': df_2022['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2022['donations_volume'].sum()),
    'registrations': df_2022['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2022['registrations_volume'].sum())
})

In [12]:
df_2022_n_2021 = df[(df['org'].isin(orgs_2021))&(df['year']==2022)]

data.append({
    'year': '2021 & 2022',
    'orgs': len(df_2022_n_2021['org'].unique()),
    'events': len(df_2022_n_2021['form'].unique()),
    'transactions': df_2022_n_2021['trans_count'].sum(),
    'funds raised': "${:,.2f}".format(df_2022_n_2021['trans_volume'].sum()),
    'donations': df_2022_n_2021['donations_count'].sum(),
    'donations funds raised': "${:,.2f}".format(df_2022_n_2021['donations_volume'].sum()),
    'registrations': df_2022_n_2021['registrations_count'].sum(),
    'registrations funds raised': "${:,.2f}".format(df_2022_n_2021['registrations_volume'].sum())
})

In [13]:
pd.DataFrame(data).transpose()

,0,1,2,3,4,5,6
year,2019,2020,2019 & 2020,2021,2020 & 2021,2022,2021 & 2022
orgs,512,626,364,663,450,753,541
events,1721,2038,1536,2092,1817,2258,1883
transactions,341162,327187,247405,366799,305854,416792,358759
funds raised,"$23,832,551.91","$30,604,432.78","$22,542,464.84","$35,085,333.73","$29,188,109.97","$38,297,685.46","$33,174,907.54"
donations,234749,256050,191373,296186,249217,321053,279209
donations funds raised,"$21,201,035.76","$28,123,632.86","$20,683,560.02","$32,153,971.60","$26,647,403.20","$34,209,534.12","$29,741,810.50"
registrations,159469,100132,79690,105757,86475,150416,127104
registrations funds raised,"$2,078,153.05","$1,204,984.20","$960,226.45","$1,587,563.70","$1,424,180.70","$2,380,591.25","$1,976,027.50"