In [2]:
import pandas as pd

import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

# 2023 vs 2024

We want to look at how the organizations that participated in 2023 performed in 2024. To do this, we will look at the average funds raised per organization in 2023 and then we will look at the same metrics for the subset of 2024 organizations that were also active during 2023.

In [1]:
dt_2023 = "(date='2023-11-28' or (date='2023-11-29' and hour<5))"
dt_2024 = "(date='2024-12-03' or (date='2024-12-04' and hour<=5))"

In [4]:
q = '''select
            org,
            sum(amount) as trans_vol,
            count(id) as trans_count
        from transactions
        where
            status='A' and
            (recurring=0 or recurring_origin=1) and
            {}
        group by org'''.format(dt_2023)
df_2023 = redshift_query_read(q, schema='production')

orgs_2023 = df_2023['org'].unique()

In [7]:
q = '''select
            org,
            sum(amount) as trans_vol,
            count(id) as trans_count
        from transactions
        where
            status='A' and
            (recurring=0 or recurring_origin=1) and
            {} and
            org in (select
                        org
                    from transactions
                    where
                        status='A' and
                        (recurring=0 or recurring_origin=1) and
                        {}
            )
        group by org'''.format(dt_2024, dt_2023)
df_2024 = redshift_query_read(q, schema='production')

In [11]:
print("2023:")
print("-"*40)
print("{:,} orgs".format(len(orgs_2023)))
print("${:,.2f}/org mean".format(df_2023['trans_vol'].sum() / len(orgs_2023)))
print("${:,.2f}/org median".format(df_2023['trans_vol'].median()))

print()
print("2024:")
print("-"*40)
perc_retained = (len(df_2024) / len(df_2023))
print("{:,} orgs, {:.2f}% retained from 2023".format(len(df_2024), perc_retained * 100.))
print("${:,.2f}/org".format(df_2024['trans_vol'].sum() / len(df_2024)))
print("${:,.2f}/org median".format(df_2024['trans_vol'].median()))

2023:
----------------------------------------
1,786 orgs
$3,798.49/org mean
$669.65/org median

2024:
----------------------------------------
1,314 orgs, 73.57% retained from 2023
$5,119.92/org
$1,099.10/org median

# 2019 vs 2020

In [5]:
# giving tuesday 2020
gt_2020 = '2020-12-01'
q = "select sum(amount), count(id), count(distinct(id)) from transactions where date='{}' and status='A'".format(gt_2020)
df_2020 = redshift_query_read(q, schema='production')

In [6]:
df_2020

          sum  count  count
0  6275752.41  40318  40318

In [10]:
# giving tuesday 2021
gt_2021 = '2021-11-30'
q = "select sum(amount), max(amount), avg(amount), count(id), count(distinct(id)) as count_distinct from transactions where date='{}' and status='A'".format(gt_2021)
df_2021 = redshift_query_read(q, schema='production')

In [11]:
df_2021

          sum      max        avg  count  count_distinct
0  1437489.12  30000.0  133.91924  10734           10734

# 2019 v 2020 by hour

In [1]:
DATE_2019 = '2019-12-03'
DATE_2020 = '2020-12-01'

In [9]:
q = "select hour, sum(amount), count(distinct(id)) from transactions where date='{}' and status='A' group by hour".format(DATE_2019)
df_2019 = redshift_query_read(q, schema='production')
df_2019.sort_values("hour", inplace=True)
df_2019['cumsum'] = df_2019['sum'].cumsum()

In [10]:
q = "select hour, sum(amount), count(distinct(id)) from transactions where date='{}' and status='A' group by hour".format(DATE_2020)
df_2020 = redshift_query_read(q, schema='production')
df_2020.sort_values('hour', inplace=True)
df_2020['cumsum'] = df_2020['sum'].cumsum()

In [11]:
df_2019

    hour        sum  count      cumsum
2      0   25177.08     79    25177.08
19     1    4380.34     46    29557.42
13     2    3416.05     37    32973.47
11     3    5716.35     99    38689.82
15     4    6680.37     46    45370.19
1      5    7975.81     54    53346.00
3      6   48784.16    793   102130.16
5      7  106381.83   1069   208511.99
10     8  120240.66    760   328752.65
12     9  170128.00   1051   498880.65
6     10  162551.35   1148   661432.00
21    11  258543.85   1413   919975.85
16    12  238341.73   1233  1158317.58
23    13  197058.86   1202  1355376.44
18    14  167187.03   1177  1522563.47
0     15  197691.65   1266  1720255.12
7     16  164973.64   1219  1885228.76
17    17  185091.10   1095  2070319.86
14    18  163288.09    988  2233607.95
4     19  146072.04   1136  2379679.99
20    20  158818.65   1157  2538498.64
22    21  178926.01   1177  2717424.65
8     22  164685.55   1022  2882110.20
9     23  134804.86    765  3016915.06

In [12]:
df_2020

    hour        sum  count      cumsum
17     0   21868.48    144    21868.48
14     1   11815.85     87    33684.33
0      2    6046.16     55    39730.49
11     3    9116.86     38    48847.35
2      4    3338.63     35    52185.98
22     5    7278.42     63    59464.40
23     6   71737.10    941   131201.50
6      7  292694.98   3978   423896.48
10     8  255473.48   2371   679369.96
1      9  346868.42   1901  1026238.38
7     10  346950.87   2266  1373189.25
21    11  400078.16   2321  1773267.41
15    12  459879.47   2414  2233146.88
4     13  477536.79   2279  2710683.67
12    14  514408.52   2251  3225092.19
18    15  399994.11   2159  3625086.30
8     16  343008.86   2250  3968095.16
16    17  396391.86   2417  4364487.02
3     18  360186.11   2351  4724673.13
9     19  381071.18   2457  5105744.31
13    20  388353.71   2287  5494098.02
5     21  331724.19   2162  5825822.21
19    22  253788.28   1777  6079610.49
20    23  196141.92   1314  6275752.41

### 2021 hourly

In [17]:
gt_2020 = '2021-11-30'
q = '''select 
            date,
            hour,
            sum(amount), 
            count(distinct(id)) 
        from transactions 
        where 
            (date='{}' or (date='{}' and hour<=3)) and 
            status='A'
        group by date, hour
        '''.format(gt_2020, '2021-12-01')
hourly_2020 = redshift_query_read(q, schema='production')

In [19]:
hourly_2020.sort_values(['date', 'hour'], inplace=True)
hourly_2020['cumsum'] = hourly_2020['sum'].cumsum()
hourly_2020

         date  hour        sum  count      cumsum
4  2021-11-30     0   18964.64    107    18964.64
26 2021-11-30     1   21899.21     62    40863.85
6  2021-11-30     2    6146.12     54    47009.97
1  2021-11-30     3   28917.43     39    75927.40
7  2021-11-30     4    3147.53     36    79074.93
14 2021-11-30     5   16205.49    101    95280.42
12 2021-11-30     6   82949.82   1030   178230.24
2  2021-11-30     7  253692.31   3663   431922.55
21 2021-11-30     8  409389.34   4163   841311.89
5  2021-11-30     9  403416.55   2829  1244728.44
17 2021-11-30    10  397383.54   2123  1642111.98
15 2021-11-30    11  411280.82   2185  2053392.80
18 2021-11-30    12  382140.43   2108  2435533.23
10 2021-11-30    13  389878.80   1910  2825412.03
13 2021-11-30    14  384928.75   1915  3210340.78
11 2021-11-30    15  394604.52   1884  3604945.30
22 2021-11-30    16  345272.23   2706  3950217.53
19 2021-11-30    17  364402.36   1994  4314619.89
8  2021-11-30    18  324148.71   1996  4638768.60
3  2021-11-30    19  402439.75   2168  5041208.35
27 2021-11-30    20  484240.38   2214  5525448.73
0  2021-11-30    21  352185.35   2052  5877634.08
9  2021-11-30    22  313563.34   1718  6191197.42
24 2021-11-30    23  206867.47   1271  6398064.89
20 2021-12-01     0  106502.37    566  6504567.26
23 2021-12-01     1   46318.84    273  6550886.10
25 2021-12-01     2   23239.59    133  6574125.69
16 2021-12-01     3    7345.36     50  6581471.05

# final numbers request

- % increase in dollars raised compared to GT 2020
- % increase in the number of donations made compared to GT 2020
- the largest donation
- average donation amount 
- % incrase in the number of orgs that processed donations this GT copmared to last
- % increase in recurring originated
- the most successful sectors/subsets

In [22]:
gt_2020 = '2020-12-01'
q = '''select 
            count(distinct(org)) as orgs,
            sum(amount) as volume, 
            count(distinct(id)) as count,
            max(amount) as max_amount,
            avg(amount) as avg_amount
        from transactions 
        where 
            (date='{}' or (date='{}' and hour<=3)) and 
            status='A'
        '''.format(gt_2020, '2020-12-02')
df_2020 = redshift_query_read(q, schema='production')

In [23]:
df_2020

   orgs      volume  count  max_amount  avg_amount
0  1714  6487582.91  41364    100000.0  156.841285

In [20]:
gt_2021 = '2021-11-30'
q = '''select 
            count(distinct(org)) as orgs,
            sum(amount) as volume, 
            count(distinct(id)) as count,
            max(amount) as max_amount,
            avg(amount) as avg_amount
        from transactions 
        where 
            (date='{}' or (date='{}' and hour<=3)) and 
            status='A'
        '''.format(gt_2020, '2021-12-01')
df_2021 = redshift_query_read(q, schema='production')

In [21]:
df_2021

   orgs      volume  count  max_amount  avg_amount
0  1814  6581471.05  41350     46350.0  159.164959

In [25]:
df_2020.append(df_2021).pct_change()

       orgs    volume     count  max_amount  avg_amount
0       NaN       NaN       NaN         NaN         NaN
0  0.058343  0.014472 -0.000338     -0.5365    0.014815

### recurring

In [26]:
q = '''select 
            id, 
            recurring, 
            amount,
            date,
            hour
        from transactions 
        where 
            recurring!=0 and
            status='A' and 
            date>='2020-01-01' '''
rec = redshift_query_read(q, schema='production')
rec.drop_duplicates('recurring', keep='first', inplace=True)

In [29]:
rec_2020 = rec[(rec['date']=='2020-12-01')|((rec['date']=='2020-12-02')&(rec['hour']<=3))]
len(rec_2020)

985

In [30]:
rec_2021 = rec[(rec['date']=='2021-11-30')|((rec['date']=='2021-12-01')&(rec['hour']<=3))]
len(rec_2021)

746

### segments

In [5]:
q = '''select
            id,
            segment
        from organization'''
orgs = redshift_query_read(q, schema='production')

In [11]:
q = '''select
            org,
            amount
        from transactions
        where
            status='A' and
            (date='2023-11-28' or (date='2023-11-29' and hour<3))'''
df_2023 = redshift_query_read(q, schema='production')
df_2023['segment'] = df_2023['org'].apply(lambda x: orgs[orgs['id']==x]['segment'].iloc[0] if len(orgs[orgs['id']==x]['segment']) > 0 else None)

seg_data = []
for segment in df_2023['segment'].unique():
    new_segment = df_2023[df_2023['segment']==segment]
    seg_data.append({
        'segment': segment,
        'count': new_segment['amount'].count(),
        'sum': new_segment['amount'].sum(),
        'mean': new_segment['amount'].mean(),
        'median': new_segment['amount'].median()
    })

2023

In [21]:
len(df_2023[df_2023['segment'].isna()]), len(df_2023)

(7991, 35742)

In [18]:
df_2023['amount'].sum(), df_2023[df_2023['segment'].isna()]['amount'].sum(), pd.DataFrame(seg_data)['sum'].sum()

(6828754.13, 1510258.52, 5318495.61)

In [13]:
pd.DataFrame(seg_data).sort_values('segment')

,segment,count,sum,mean,median
9,A - Arts; Culture; and Humanities,657,106252.40,161.723592,53.000
0,B - Educational Institutions,2640,529982.86,200.751083,53.000
8,C - Environmental Advocacy and Protection,561,124081.94,221.179929,78.000
2,D - Animal,3146,342564.53,108.888916,51.750
16,E - Health; General and Rehabilitative,1015,207027.94,203.968414,52.220
18,F - Mental Health and Crisis Intervention,417,91029.73,218.296715,53.000
12,G - Disease; Disorders; Medical Disciplines,1010,187720.59,185.861970,79.375
11,H - Medical Research,390,78269.68,200.691487,100.000
4,I - Crime; Legal Related,90,35657.56,396.195111,102.950
25,J - Employment; Job Related,44,14387.92,326.998182,54.000
10,K - Agriculture; Food; Nutrition,2497,488098.12,195.473817,100.000
17,L - Housing; Shelter,2165,403033.12,186.158485,77.250
14,M - Public Safety; Disaster Relief,80,8610.14,107.626750,50.000
5,N - Recreation; Sports; Leisure; Athletics,566,84449.89,149.204753,61.500
13,O - Youth Development,1311,328048.73,250.227864,100.000
1,P - Human Services,6171,1391483.94,225.487594,100.000
3,Q - International; Foreign Affairs; and Nation...,1803,298978.01,165.822524,51.500
23,R - Civil Rights; Social Action; Advocacy,81,10151.39,125.325802,51.000
15,S - Community Improvement; Capacity Building,225,59362.39,263.832844,100.000
19,T - Philanthropy; Voluntarism; and Grantmaking,349,73891.99,211.724900,100.000
21,U - Science and Technology Research Institutes,156,25527.77,163.639551,62.880
24,V - Social Science Research Institutes,8,1426.50,178.312500,100.000
20,W - Public; Society Benefit,195,23703.66,121.557231,51.500
6,X - Religion; Spiritual Development,2101,395053.06,188.030966,100.000
22,Y - Mutual/Membership Benefit Organizations,49,4476.75,91.362245,50.000
26,Z - Unknown,24,5225.00,217.708333,100.000
7,None,0,0.00,NaN,NaN

In [40]:
gt_2020 = '2020-12-01'
q = '''select 
            org,
            amount
        from transactions 
        where 
            (date='{}' or (date='{}' and hour<=3)) and 
            status='A'
        '''.format(gt_2020, '2020-12-02')
q = '''select 
            org,
            amount
        from transactions 
        where 
            date='{}' and 
            status='A'
        '''.format(gt_2020)
df_2020 = redshift_query_read(q, schema='production')
df_2020['segment'] = df_2020['org'].apply(lambda x: orgs[orgs['Id']==x]['Segment'].iloc[0])

In [41]:
df_2020.groupby('segment')['amount'].agg(['count', 'sum', 'mean', 'median']).reset_index()

,segment,count,sum,mean,median
0,"A - Arts, Culture, and Humanities",1046,188813.30,180.509847,51.500
1,B - Educational Institutions,3221,533819.69,165.731043,52.000
2,"B - Educational Institutions , O - Youth Devel...",2,75.00,37.500000,37.500
3,C - Environmental Advocacy and Protection,633,71483.83,112.928641,50.000
4,D - Animal,3074,273249.63,88.890576,50.000
5,"E - Health, General and Rehabilitative",809,144644.97,178.794771,51.500
6,F - Mental Health and Crisis Intervention,480,70046.63,145.930479,52.500
7,"G - Disease, Disorders, Medical Disciplines",638,90282.88,141.509216,52.500
8,H - Medical Research,350,171415.35,489.758143,53.000
9,"I - Crime, Legal Related",260,43244.25,166.324038,100.000
10,"J - Employment, Job Related",95,21313.03,224.347684,75.000
11,"K - Agriculture, Food, Nutrition",5575,904271.52,162.201170,78.000
12,"L - Housing, Shelter",3245,436528.74,134.523495,52.000
13,"M - Public Safety, Disaster Relief",26,3474.09,133.618846,51.125
14,"N - Recreation, Sports, Leisure, Athletics",693,68609.31,99.003333,50.000
15,O - Youth Development,1998,331988.36,166.160340,52.000
16,"O - Youth Development , L - Housing, Shelter",4,450.00,112.500000,125.000
17,P - Human Services,9390,1498183.84,159.550995,52.070
18,"Q - International, Foreign Affairs, and Nation...",2951,440432.87,149.248685,50.000
19,"R - Civil Rights, Social Action, Advocacy",423,37888.32,89.570496,50.000
20,"S - Community Improvement, Capacity Building",542,83410.94,153.894723,53.000
21,"T - Philanthropy, Voluntarism, and Grantmaking",913,269774.02,295.480854,52.500
22,"T - Philanthropy, Voluntarism, and Grantmaking...",2,200.00,100.000000,100.000
23,U - Science and Technology Research Institutes,52,4484.82,86.246538,51.795
24,V - Social Science Research Institutes,29,3677.88,126.823448,50.000
25,"W - Public, Society Benefit",521,105218.86,201.955585,50.000
26,"X - Religion, Spiritual Development",3166,468724.99,148.049586,52.120
27,Y - Mutual/Membership Benefit Organizations,34,2187.37,64.334412,50.000
28,Z - Unknown,141,7198.05,51.050000,25.000

In [44]:
gt_2021 = '2021-11-30'
q = '''select 
            org,
            amount
        from transactions 
        where 
            (date='{}' or (date='{}' and hour<=3)) and 
            status='A'
        '''.format(gt_2020, '2021-12-01')
q = '''select 
            org,
            amount
        from transactions 
        where 
            date='{}' and 
            status='A'
        '''.format(gt_2021)
df_2021 = redshift_query_read(q, schema='production')
df_2021['segment'] = df_2021['org'].apply(lambda x: orgs[orgs['Id']==x]['Segment'].iloc[0])

In [45]:
df_2021.groupby('segment')['amount'].agg(['count', 'sum', 'mean', 'median']).reset_index()

,segment,count,sum,mean,median
0,"A - Arts, Culture, and Humanities",1240,208985.29,168.536524,51.500
1,B - Educational Institutions,3098,622826.57,201.041501,53.000
2,C - Environmental Advocacy and Protection,697,123094.96,176.606829,52.000
3,D - Animal,4278,382216.17,89.344593,50.000
4,"E - Health, General and Rehabilitative",1024,196963.29,192.346963,52.500
5,F - Mental Health and Crisis Intervention,577,94440.43,163.674922,82.500
6,"G - Disease, Disorders, Medical Disciplines",874,128504.34,147.030137,52.500
7,H - Medical Research,627,124546.25,198.638357,100.000
8,"I - Crime, Legal Related",278,72627.70,261.250719,100.000
9,"J - Employment, Job Related",66,23328.70,353.465152,104.000
10,"K - Agriculture, Food, Nutrition",2798,526940.61,188.327595,78.375
11,"L - Housing, Shelter",2734,461435.48,168.776693,51.750
12,"M - Public Safety, Disaster Relief",104,7483.99,71.961442,50.000
13,"N - Recreation, Sports, Leisure, Athletics",482,62897.65,130.493050,55.620
14,O - Youth Development,1593,313173.66,196.593635,60.000
15,"O - Youth Development , L - Housing, Shelter",4,407.50,101.875000,63.750
16,P - Human Services,9192,1626459.56,176.942946,52.000
17,"Q - International, Foreign Affairs, and Nation...",4475,590934.02,132.052295,30.000
18,"R - Civil Rights, Social Action, Advocacy",370,29236.72,79.018162,30.000
19,"S - Community Improvement, Capacity Building",377,60537.25,160.576260,50.000
20,"T - Philanthropy, Voluntarism, and Grantmaking",831,135037.63,162.500156,59.550
21,"T - Philanthropy, Voluntarism, and Grantmaking...",3,150.00,50.000000,25.000
22,U - Science and Technology Research Institutes,37,3206.17,86.653243,26.500
23,V - Social Science Research Institutes,23,5082.71,220.987391,50.000
24,"W - Public, Society Benefit",439,44923.25,102.330866,25.000
25,"X - Religion, Spiritual Development",3902,539092.45,138.157983,50.000
26,Y - Mutual/Membership Benefit Organizations,138,6062.75,43.932971,25.000
27,Z - Unknown,58,1411.79,24.341207,15.000