In [2]:
import pandas as pd
import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

# 2023 updates

In [52]:
q = '''select
            org,
            sum(amount) as sum,
            count(distinct(id)) as count
        from transactions
        where
            status='A' and
            (date='2022-11-29' or (date='2022-11-30' and hour<3))
        group by org'''

orgs_2022 = redshift_query_read(q, schema='production')

In [53]:
q = '''select
            org,
            sum(amount) as sum,
            count(distinct(id)) as count
        from transactions
        where
            status='A' and
            (date='2023-11-28' or (date='2023-11-29' and hour<3))
        group by org'''

orgs_2023 = redshift_query_read(q, schema='production')

In [54]:
_orgs_2022 = orgs_2022[orgs_2022['sum']>500]
_orgs_2023 = orgs_2023[orgs_2023['sum']>500]

print("{:,} orgs 2022 > $500; ${:,.2f}".format(len(_orgs_2022), _orgs_2022['sum'].sum()))
print("{:,} orgs 2023 > $500; ${:,.2f}".format(len(_orgs_2023), _orgs_2023['sum'].sum()))

print("{:,} orgs in 2023 also in 2022".format(len(_orgs_2023[_orgs_2023['org'].isin(_orgs_2022['org'].tolist())])))

overlap_orgs = _orgs_2023[_orgs_2023['org'].isin(_orgs_2022['org'].tolist())]['org'].tolist()

print("Overlap orgs 2022: ${:,.2f}".format(_orgs_2022[_orgs_2022['org'].isin(overlap_orgs)]['sum'].sum()))
print("Overlap orgs 2023: ${:,.2f}".format(_orgs_2023[_orgs_2023['org'].isin(overlap_orgs)]['sum'].sum()))

print("Overlap orgs 2022 median: ${:,.2f}".format(_orgs_2022[_orgs_2022['org'].isin(overlap_orgs)]['sum'].median()))
print("Overlap orgs 2023 median: ${:,.2f}".format(_orgs_2023[_orgs_2023['org'].isin(overlap_orgs)]['sum'].median()))

print("Overlap orgs 2022 transactions: {:,}".format(_orgs_2022[_orgs_2022['org'].isin(overlap_orgs)]['count'].sum()))
print("Overlap orgs 2023 transactions: {:,}".format(_orgs_2023[_orgs_2023['org'].isin(overlap_orgs)]['count'].sum()))

1,006 orgs 2022 > $500; $6,299,339.70
992 orgs 2023 > $500; $6,689,775.11
621 orgs in 2023 also in 2022
Overlap orgs 2022: $5,265,082.45
Overlap orgs 2023: $5,330,925.72
Overlap orgs 2022 median: $3,241.75
Overlap orgs 2023 median: $3,170.50
Overlap orgs 2022 transactions: 33,839
Overlap orgs 2023 transactions: 27,714

In [51]:
_orgs_2022 = orgs_2022[orgs_2022['sum']>25000]
_orgs_2023 = orgs_2023[orgs_2023['sum']>25000]

print("{:,} orgs 2022 > $25k; ${:,.2f}".format(len(_orgs_2022), _orgs_2022['sum'].sum()))
print("{:,} orgs 2023 > $25k; ${:,.2f}".format(len(_orgs_2023), _orgs_2023['sum'].sum()))

print("{:,} orgs in 2023 also in 2022".format(len(_orgs_2023[_orgs_2023['org'].isin(_orgs_2022['org'].tolist())])))

overlap_orgs = _orgs_2023[_orgs_2023['org'].isin(_orgs_2022['org'].tolist())]['org'].tolist()

print("Overlap orgs 2022: ${:,.2f}".format(_orgs_2022[_orgs_2022['org'].isin(overlap_orgs)]['sum'].sum()))
print("Overlap orgs 2023: ${:,.2f}".format(_orgs_2023[_orgs_2023['org'].isin(overlap_orgs)]['sum'].sum()))

print("Overlap orgs 2022 median: ${:,.2f}".format(_orgs_2022[_orgs_2022['org'].isin(overlap_orgs)]['sum'].median()))
print("Overlap orgs 2023 median: ${:,.2f}".format(_orgs_2023[_orgs_2023['org'].isin(overlap_orgs)]['sum'].median()))

50 orgs 2022 > $25k; $2,674,293.17
46 orgs 2023 > $25k; $2,879,813.08
26 orgs in 2023 also in 2022
Overlap orgs 2022: $1,792,614.97
Overlap orgs 2023: $1,947,965.26
Overlap orgs 2022 median: $42,960.79
Overlap orgs 2023 median: $55,348.22

In [34]:
print("{:,} orgs 2022".format(len(orgs_2022)))
print("{:,} orgs 2023".format(len(orgs_2023)))

print("{:,} orgs in 2023 also in 2022".format(len(orgs_2023[orgs_2023['org'].isin(orgs_2022['org'].tolist())])))
print("{:,} orgs in 2022 also in 2023".format(len(orgs_2022[orgs_2022['org'].isin(orgs_2023['org'].tolist())])))

1,915 orgs 2022
1,792 orgs 2023
1,297 orgs in 2023 also in 2022
1,297 orgs in 2022 also in 2023

In [17]:
q = '''select
            count(distinct(org)) as orgs,
            count(distinct(id)) as count,
            count(distinct(case when recurring_origin=1 then id else null end)) as recurring_count,
            sum(amount) as volume,
            max(amount) as max_amount,
            avg(amount) as mean_amount
        from transactions
        where
            status='A' and
            (date='2023-11-28' or (date='2023-11-29' and hour<3))'''
print("2023 totals:")
redshift_query_read(q, schema='production')

2023 totals:

   orgs  count  recurring_count      volume  max_amount  mean_amount
0  1792  35742              571  6828754.13     30000.0   191.056856

In [3]:
q = '''select
            date,
            hour,
            count(distinct(org)) as orgs,
            count(distinct(id)) as count,
            sum(amount) as volume
        from transactions
        where
            status='A' and
            (recurring=0 or recurring_origin=1) and
            (date='2023-11-28' or (date='2023-11-29' and hour<5))
        group by date, hour'''
df = redshift_query_read(q, schema='production')
df.sort_values(['date', 'hour'], ascending=True)

         date  hour  orgs  count     volume
19 2023-11-28     0    77     96   14133.46
1  2023-11-28     1    52     67   13380.95
2  2023-11-28     2    29     32    8372.14
23 2023-11-28     3    21     25    3321.38
6  2023-11-28     4    31     33    5420.43
0  2023-11-28     5    57     76   16312.74
5  2023-11-28     6   144    287   54049.84
14 2023-11-28     7   239    604  121489.17
20 2023-11-28     8   422   1317  220416.67
9  2023-11-28     9   545   1916  361435.24
15 2023-11-28    10   632   2322  450841.00
8  2023-11-28    11   649   2239  502467.44
17 2023-11-28    12   650   2046  404226.97
24 2023-11-28    13   586   2040  403280.35
4  2023-11-28    14   626   2054  417137.15
27 2023-11-28    15   623   2147  441260.67
21 2023-11-28    16   623   2328  401174.28
7  2023-11-28    17   589   2141  438113.61
28 2023-11-28    18   591   2239  469981.04
22 2023-11-28    19   582   2279  381189.59
16 2023-11-28    20   573   2327  391814.26
25 2023-11-28    21   581   2274  413087.81
18 2023-11-28    22   501   1822  357514.50
3  2023-11-28    23   412   1286  280732.85
11 2023-11-29     0   256    582   96287.99
12 2023-11-29     1   132    280   66910.34
13 2023-11-29     2    83    143   37886.72
26 2023-11-29     3    32     33    7969.51
10 2023-11-29     4    32     37    3886.63

In [23]:
q = '''select
            median(amount)
        from transactions
        where
            status='A' and
            recurring=0 and
            (date='2023-11-28' or (date='2023-11-29' and hour<3))'''
redshift_query_read(q, schema='production')

   median
0    70.0

# <= 2022

In [24]:
q = '''select
            median(amount)
        from transactions
        where
            status='A' and
            recurring=0 and
            (date='2022-11-29' or (date='2022-11-30' and hour<3))'''
redshift_query_read(q, schema='production')

   median
0    52.5

In [27]:
q = '''select
            count(distinct(org)) as orgs,
            count(distinct(id)) as count,
            count(distinct(case when recurring_origin=1 then id else null end)) as recurring_count,
            sum(amount) as volume,
            max(amount) as max_amount,
            avg(amount) as mean_amount
        from transactions
        where
            status='A' and
            (date='2022-11-29' or (date='2022-11-30' and hour<3))'''
print("2022 totals:")
redshift_query_read(q, schema='production')

2022 totals:

   orgs  count  recurring_count      volume  max_amount  mean_amount
0  1915  42165              730  6453636.96     50000.0   153.056729

In [30]:
df['volume'].sum()

6453636.96

In [29]:
q = '''select
            date,
            hour,
            count(distinct(org)) as orgs,
            count(distinct(id)) as count,
            sum(amount) as volume
        from transactions
        where
            status='A' and
            (date='2022-11-29' or (date='2022-11-30' and hour<3))
        group by date, hour'''
df = redshift_query_read(q, schema='production')
df.sort_values(['date', 'hour'], ascending=True)

         date  hour  orgs  count     volume
22 2022-11-29     0    62     83   15529.17
3  2022-11-29     1    52     65   10355.44
11 2022-11-29     2    38     47    5648.84
1  2022-11-29     3    22     27    3112.59
18 2022-11-29     4    36     42    5492.07
5  2022-11-29     5    48     67   12461.87
23 2022-11-29     6   174    343   45818.58
0  2022-11-29     7   248    539  100843.40
17 2022-11-29     8   412   1198  228189.15
12 2022-11-29     9   520   1829  349325.24
14 2022-11-29    10   605   2266  484408.76
13 2022-11-29    11   612   2117  417220.71
24 2022-11-29    12   611   2038  363418.66
21 2022-11-29    13   614   2061  426803.95
4  2022-11-29    14   573   1889  346632.64
8  2022-11-29    15   556   2127  385789.10
15 2022-11-29    16   594   2051  329520.37
26 2022-11-29    17   597   2086  381768.67
20 2022-11-29    18   576   2126  364861.36
6  2022-11-29    19   587   2221  380450.88
7  2022-11-29    20   570   2324  396814.50
19 2022-11-29    21   559   2165  349930.63
10 2022-11-29    22   490   1739  259080.36
9  2022-11-29    23   390   1370  208554.65
25 2022-11-30     0   571   3297  208911.01
2  2022-11-30     1   576   3096  181259.31
16 2022-11-30     2   577   2952  191435.05

In [11]:
q = '''select
            date,
            hour,
            count(distinct(org)) as orgs,
            count(distinct(id)) as count,
            sum(amount) as volume
        from transactions
        where
            status='A' and
            (date='2021-11-30' or (date='2021-12-01' and hour<3))
        group by date, hour'''
df = redshift_query_read(q, schema='production')
df.sort_values(['date', 'hour'], ascending=True)[['orgs', 'count', 'volume']]

    orgs  count     volume
21    73    107   18964.64
3     44     62   21899.21
23    35     54    6146.12
6     26     39   28917.43
15    26     36    3147.53
0     52     88   16042.49
12   294   1100   86514.23
10   590   3686  256143.53
24   766   4192  415859.59
22   659   2835  404326.13
16   599   2123  402925.54
20   615   2190  413085.82
17   616   2115  384714.38
8    589   1917  391893.80
1    593   1917  385078.75
9    573   1890  396247.77
25   566   2708  347392.83
18   551   1995  364512.66
14   528   1996  324789.08
11   561   2171  403126.95
19   536   2216  484342.13
7    534   2057  354265.35
13   476   1722  313136.21
4    402   1274  207697.47
2    239    565  106910.57
26   134    273   46708.84
5     67    130   23209.59

# location

In [16]:
q = '''select
            state,
            count(distinct(org)) as orgs,
            count(distinct(id)) as count,
            sum(amount) as volume
        from transactions_clean
        where
            status='A' and
            (date='2022-11-29' or (date='2022-11-30' and hour<3))
        group by state'''
df = redshift_query_read(q, schema='production')
df.sort_values(['volume'], ascending=False)[:50]

    state  orgs  count     volume
182    CA   404   4195  711441.65
22     FL   409   2875  522613.97
51     PA   229   3503  509613.20
101    TX   292   2007  330676.59
88   None   521   2216  329747.85
183    NC   210   1796  320664.83
24     NY   304   2230  315560.77
217    MD   173   1621  238895.84
25     CO   180   1247  230919.55
92     OH   187   1295  223329.45
9      IL   239   1603  212869.91
195    AZ   145    885  189216.29
90     MA   218   1082  176818.21
185    WA   171   1063  174892.47
10     NJ   179    850  174256.84
146    VA   214   1497  166413.60
131    MI   185   1036  132918.34
67     TN   147   1061  119437.80
35     GA   169    821  103279.32
196    OK    58    584  102025.66
184    NV    70    654   98734.31
27     MO   118    726   91293.97
114    IN   129    606   82222.39
36     CT   121    532   74321.75
160    SC   122    532   71647.49
145    OR    95    526   66827.25
147    WI   130    473   65488.47
11     AL    79    338   57849.33
91     KY    71    468   53854.38
163    NM    66    249   49523.61
162    MT    39     94   35506.80
82     KS    57    275   34364.05
52   Dist    75    214   31736.83
55     MN   106    320   30569.98
161    DE    50    244   30485.19
54     AR    47    159   26477.19
166    IA    60    156   23437.60
26   NewH    68    196   20510.31
12     UT    46     97   18020.27
89     LA    56    219   17472.22
93     ND    20     79   17286.96
28     ME    56    150   17030.58
133  Onta    39    129   13763.57
148    MS    42     90   12563.85
132    ID    33     93   11904.74
186    NE    40    109   11018.74
40     RI    45     91    9590.96
0    Brit    21     38    9151.44
53   Arme    13     41    8788.12
188    HI    35     67    8727.38