In [6]:
import requests, json
import pandas as pd

URL = "https://secure.qgiv.com/admin/qgivadmin/statistics/export_feature_adoption.php"
KEY = "DSQR59VwyFhw21PKDF4K"

# export

In [7]:
payload = {'key': KEY}
rsp = requests.post(URL, data=payload)
rsp_obj = json.loads(rsp.text)

In [9]:
rsp_obj[0]['implementation_data'].keys()

dict_keys(['forms_with_notifications', 'orgs_with_notifications', 'service_integrations', 'custom_reports', 'merchant_accounts', 'embeds', 'promises', 'restrictions', 'custom_fields', 'pledges', 'recurring', 'events', 'events_donations', 'events_fields', 'events_promo', 'sms', 'donor_logins', 'thermometers', 'classifications', 'categories', 'registration_store', 'product_fields', 'shipping_address', 'nonfundraising_participants', 'teams', 'aggregator_page', 'category_fields'])

### storing integrations data

In [11]:
int_data = rsp_obj[0]['implementation_data']['service_integrations']

In [16]:
df_integrations = pd.DataFrame(int_data)
df_integrations.columns = ['count', 'org']
df_integrations.head()

  count org
0     1   6
1     6   9
2     1  13
3     1  31
4     1  67

In [30]:
df_integrations.to_csv("integrations.csv", index=False)

### storing dl data

In [27]:
df_dl = pd.DataFrame(rsp_obj[0]['bidirectional_adoption_data']['dl_onetime'])
df_dl.columns = ['onetime', 'form']

In [28]:
df_rec = pd.DataFrame(rsp_obj[0]['bidirectional_adoption_data']['dl_recurring'])
df_rec.columns = ['recurring', 'form']

In [29]:
df_dl = df_dl.merge(df_rec, on='form')
df_dl.head()

  onetime  form recurring
0    3043  None        26
1     725     1         3
2     195     2        98
3      41     3         4
4       2     7         1

In [31]:
df_dl.to_csv("dl_transactions.csv", index=False)