In [1]:
import pandas as pd

# organization download

In [2]:
!ls *.csv

analytic_base.csv          org_download.csv
analytic_qgiv_stats.csv    org_websites.csv
churn_p2p_ftrs.csv         organizations.clean.csv
churn_qgiv_ftrs.csv        organizations.csv
churn_warning_preds.csv    organizations_download.csv
churned_orgs.csv           orgs.reduced.csv
growth_preds.csv           rf_ftrs.csv

In [3]:
orgs_new_download = pd.read_csv("organizations_download.csv")
orgs = pd.read_csv("organizations.csv")
orgs_clean = pd.read_csv("organizations.clean.csv")

In [4]:
print("New download:")
print("{} rows, {} columns".format(len(orgs_new_download), len(orgs_new_download.columns)))

orgs_new_download.columns

New download:
6913 rows, 24 columns

Index(['Id', 'Org Name', 'Tax ID', 'SIC', 'Street', 'City', 'State', 'Zip',
       'Country', 'Go Live Date', 'Signup Step One', 'First Transaction Date',
       'Signup Implementation Time', 'Go Live Implementation Time', 'Status',
       'Pricing Package', 'Reseller', 'Previously Accepted Credit Online',
       'Segment', 'Tags', 'Date Closed', 'Reason Closed', 'New Provider',
       'Additional Churn Info'],
      dtype='object')

In [5]:
print("orgs file:")
print("{} rows, {} columns".format(len(orgs), len(orgs.columns)))
orgs.columns

orgs file:
6701 rows, 24 columns

Index(['Id', 'Org Name', 'Tax ID', 'SIC', 'Street', 'City', 'State', 'Zip',
       'Country', 'Go Live Date', 'Signup Step One', 'First Transaction Date',
       'Signup Implementation Time', 'Go Live Implementation Time', 'Status',
       'Pricing Package', 'Reseller', 'Previously Accepted Credit Online',
       'Segment', 'Tags', 'Date Closed', 'Reason Closed', 'New Provider',
       'Additional Churn Info'],
      dtype='object')

In [6]:
print("clean orgs:")
print("{} rows, {} columns".format(len(orgs_clean), len(orgs_clean.columns)))
orgs_clean.columns

clean orgs:
6913 rows, 24 columns

Index(['id', 'org_name', 'tax_id', 'sic', 'street', 'city', 'state', 'zip',
       'country', 'live_date', 'signup_step_one', 'first_transaction_date',
       'signup_implementation_time', 'go_live_implementation_time', 'status',
       'pricing_package', 'reseller', 'previously_accepted_credit_online',
       'segment', 'tags', 'date_closed', 'reason_closed', 'new_provider',
       'additional_churn_info'],
      dtype='object')

In [7]:
# clean up column names
old_column_names = orgs_new_download.columns
for c in old_column_names:
    new_column = c.replace(" ", "_").lower()
    if new_column == 'go_live_date':
        new_column = 'live_date'

    orgs_new_download[new_column] = orgs_new_download[c]
    orgs_new_download.drop(c, axis=1, inplace=True)

In [8]:
# drop unnecessary columns from new download
cleaned_cols = orgs_clean.columns.tolist()
cleaned_new_download = orgs_new_download[cleaned_cols]

print("{} rows, {} columns".format(len(cleaned_new_download), len(cleaned_new_download.columns)))

6913 rows, 24 columns

In [9]:
# store cleaned up download
orgs_new_download.to_csv("organizations.clean.csv", index=False)

In [10]:
orgs_new_download[['id', 'org_name', 'status']].head()

       id                          org_name   status
0  441789                               NaN  pending
1  443044                               NaN  pending
2    1045                   FROM Food Fight   closed
3  442134                  Camp Laurelwood    active
4  442293   Cass Community Social Services    active

In [32]:
orgs_new_download[orgs_new_download['status']=='active'][['id', 'org_name', 'status']].head()

        id                                           org_name  status
3   442134                                   Camp Laurelwood   active
4   442293                    Cass Community Social Services   active
7   439357           Funeral Consumers Alliance of Western MA  active
9   441842   Illinois Association of Municipal Management ...  active
11   29731                                    Lincoln Theater  active

# prior predictions

In [9]:
orgs = [
    {
        'org': 430102,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 441584,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 441401,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 433162,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 442575,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 441589,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 436234,
        'date_predicted': '2019-06-17'
    },
    {
        'org': 141,
        'date_predicted': '2019-06-24'
    },
    {
        'org': 40018,
        'date_predicted': '2019-06-24'
    },
    {
        'org': 8124,
        'date_predicted': '2019-06-24'
    },
    {
        "org": 27627,
        'date_predicted': '2019-06-24'
    },
    {
        'org': 442036,
        'date_predicted': '2019-06-24'
    },
    {
        'org': 31828,
        'date_predicted': '2019-07-08'
    },
    {
        'org': 958,
        'date_predicted': '2019-07-08'
    },
    {
        'org': 439367,
        'date_predicted': '2019-07-08'
    },
    {
        'org': 36856,
        'date_predicted': '2019-07-08'
    },
    {
        'org': 430181,
        'date_predicted': '2019-07-08'
    },
    {
        'org': 15293,
        'date_predicted': '2019-07-15'
    },
    {
        'org': 439367,
        'date_predicted': '2019-07-15'
    },
    {
        'org': 36856,
        'date_predicted': '2019-07-15'
    },
    {
        'org': 442083,
        'date_predicted': '2019-07-15'
    },
    {
        'org': 15281,
        'date_predicted': '2019-07-23'
    },
    {
        'org': 39935,
        'date_predicted': '2019-07-23'
    },
    {
        'org': 441612,
        'date_predicted': '2019-07-23'
    },
    {
        'org': 14265,
        'date_predicted': '2019-07-23'
    },
    {
        'org': 47110,
        'date_predicted': '2019-07-23'
    },
    {
        'org': 669,
        'date_predicted': '2019-07-29'
    },
    {
        'org': 202755,
        'date_predicted': '2019-07-29'
    },
    {
        'org': 15283,
        'date_predicted': '2019-07-29'
    },
    {
        'org': 39936,
        'date_predicted': '2019-07-29'
    },
    {
        'org': 441608,
        'date_predicted': '2019-07-29'
    }
]
df_preds = pd.DataFrame(orgs)
df_preds['date_predicted'] = pd.to_datetime(df_preds['date_predicted'])

In [10]:
# df_preds.head()
df_preds.to_csv("churn_warning_preds.csv", index=False)

In [1]:
import pandas as pd
df_preds = pd.read_csv("churn_warning_preds.csv")

In [3]:
969 in df_preds['org'].tolist()

True

In [ ]:
Organization 39932
	integrations: False
	set form (down), added recipient (down), cancelled recurring (down), linked transaction (down), cloned a new form (down), changed organization (down), updated organization (up)
Organization 969
	integrations: False
	added recipient (down), cloned a new form (down), changed organization (down), linked transaction (up), set form (up), cancelled recurring (up)
Organization 198659
	integrations: True
	cancelled recurring (down), linked transaction (down), cloned a new form (down), changed organization (down), added recipient (up), set form (up)
Organization 441603
	integrations: False
	set form (down), cancelled recurring (down), added recipient (down), linked transaction (down), cloned a new form (down), changed organization (up)
Organization 15280
	integrations: False
	cancelled recurring (down), linked transaction (down), cloned a new form (down), changed organization (down), added recipient (up)