In [1]:
import pandas as pd

import sys
sys.path.insert(1, '../../../scripts/')
from s3_support import *

In [6]:
df = get_dataframe_from_file("qgiv-stats-data", "preds.churn.csv")

In [7]:
len(df)

303

In [8]:
df.tail()

                 date_predicted    org
298  2020-04-05 22:03:45.869751  31809
299  2020-04-05 22:03:45.869751  29753
300  2020-04-05 22:03:45.869751   1643
301  2020-04-13 04:11:42.754224    314
302  2020-04-13 04:11:42.754224    985