We need to alter the structure of the data as it comes out of the database. The original structure is flat, allowing for maximum flexibility for cases of adding, removing or updating the widget enum. As such, we originally get one entry per widget with the type and weight specified. The most convenient structure for modeling is going to be one entry per stats entry, with each widget type listed as a column and their respective weights being the value.

Load dataframe and print out the list of widget types in the data

In [1]:
import pandas as pd

df = pd.read_csv("~/Repositories/datasets/cmsdata/cms_data.visited.csv")
df.type.unique()

array([18, 19, 15, 14, 22, 17, 21, 54, 24, 25, 23, 20])

Now we add a column for each widget type

In [2]:
for w in df.type.unique():
    df[w] = 0

Now update the columns with the values per stats entry

In [3]:
counter = 0
df_len = len(df.stats.unique())
for s in df.stats.unique():
    counter = counter + 1
    if counter % 1000 == 0:
        print("Updating "+str(counter)+" of "+str(df_len))
    for widget in ['24', '22', '15', '14', '54', '21', '25', '17', '18', '19', '23', '20']:
        df.loc[df.stats==s, str(widget)] = df[(df.stats==s) & (df.type==int(widget))].weight

Updating 1000 of 238349
Updating 2000 of 238349
Updating 3000 of 238349
Updating 4000 of 238349
Updating 5000 of 238349
Updating 6000 of 238349
Updating 7000 of 238349
Updating 8000 of 238349
Updating 9000 of 238349
Updating 10000 of 238349
Updating 11000 of 238349
Updating 12000 of 238349
Updating 13000 of 238349
Updating 14000 of 238349
Updating 15000 of 238349
Updating 16000 of 238349
Updating 17000 of 238349
Updating 18000 of 238349
Updating 19000 of 238349
Updating 20000 of 238349
Updating 21000 of 238349
Updating 22000 of 238349
Updating 23000 of 238349
Updating 24000 of 238349
Updating 25000 of 238349
Updating 26000 of 238349
Updating 27000 of 238349
Updating 28000 of 238349
Updating 29000 of 238349
Updating 30000 of 238349
Updating 31000 of 238349
Updating 32000 of 238349
Updating 33000 of 238349
Updating 34000 of 238349
Updating 35000 of 238349
Updating 36000 of 238349
Updating 37000 of 238349
Updating 38000 of 238349
Updating 39000 of 238349
Updating 40000 of 238349
Updating 41000 of 238349
Updating 42000 of 238349
Updating 43000 of 238349
Updating 44000 of 238349
Updating 45000 of 238349
Updating 46000 of 238349
Updating 47000 of 238349
Updating 48000 of 238349
Updating 49000 of 238349
Updating 50000 of 238349
Updating 51000 of 238349
Updating 52000 of 238349
Updating 53000 of 238349
Updating 54000 of 238349
Updating 55000 of 238349
Updating 56000 of 238349
Updating 57000 of 238349
Updating 58000 of 238349
Updating 59000 of 238349
Updating 60000 of 238349
Updating 61000 of 238349
Updating 62000 of 238349
Updating 63000 of 238349
Updating 64000 of 238349
Updating 65000 of 238349
Updating 66000 of 238349
Updating 67000 of 238349
Updating 68000 of 238349
Updating 69000 of 238349
Updating 70000 of 238349
Updating 71000 of 238349
Updating 72000 of 238349
Updating 73000 of 238349
Updating 74000 of 238349
Updating 75000 of 238349
Updating 76000 of 238349
Updating 77000 of 238349
Updating 78000 of 238349
Updating 79000 of 238349
Updating 80000 of 238349
Updating 81000 of 238349
Updating 82000 of 238349
Updating 83000 of 238349
Updating 84000 of 238349
Updating 85000 of 238349
Updating 86000 of 238349
Updating 87000 of 238349
Updating 88000 of 238349
Updating 89000 of 238349
Updating 90000 of 238349
Updating 91000 of 238349
Updating 92000 of 238349
Updating 93000 of 238349
Updating 94000 of 238349
Updating 95000 of 238349
Updating 96000 of 238349
Updating 97000 of 238349
Updating 98000 of 238349
Updating 99000 of 238349
Updating 100000 of 238349
Updating 101000 of 238349
Updating 102000 of 238349
Updating 103000 of 238349
Updating 104000 of 238349
Updating 105000 of 238349
Updating 106000 of 238349
Updating 107000 of 238349
Updating 108000 of 238349
Updating 109000 of 238349
Updating 110000 of 238349
Updating 111000 of 238349
Updating 112000 of 238349
Updating 113000 of 238349
Updating 114000 of 238349
Updating 115000 of 238349
Updating 116000 of 238349
Updating 117000 of 238349
Updating 118000 of 238349
Updating 119000 of 238349
Updating 120000 of 238349
Updating 121000 of 238349
Updating 122000 of 238349
Updating 123000 of 238349
Updating 124000 of 238349
Updating 125000 of 238349
Updating 126000 of 238349
Updating 127000 of 238349
Updating 128000 of 238349
Updating 129000 of 238349
Updating 130000 of 238349
Updating 131000 of 238349
Updating 132000 of 238349
Updating 133000 of 238349
Updating 134000 of 238349
Updating 135000 of 238349
Updating 136000 of 238349
Updating 137000 of 238349
Updating 138000 of 238349
Updating 139000 of 238349
Updating 140000 of 238349
Updating 141000 of 238349
Updating 142000 of 238349
Updating 143000 of 238349
Updating 144000 of 238349
Updating 145000 of 238349
Updating 146000 of 238349
Updating 147000 of 238349
Updating 148000 of 238349
Updating 149000 of 238349
Updating 150000 of 238349
Updating 151000 of 238349
Updating 152000 of 238349
Updating 153000 of 238349
Updating 154000 of 238349
Updating 155000 of 238349
Updating 156000 of 238349
Updating 157000 of 238349
Updating 158000 of 238349
Updating 159000 of 238349
Updating 160000 of 238349
Updating 161000 of 238349
Updating 162000 of 238349
Updating 163000 of 238349
Updating 164000 of 238349
Updating 165000 of 238349
Updating 166000 of 238349
Updating 167000 of 238349
Updating 168000 of 238349
Updating 169000 of 238349
Updating 170000 of 238349
Updating 171000 of 238349
Updating 172000 of 238349
Updating 173000 of 238349
Updating 174000 of 238349
Updating 175000 of 238349
Updating 176000 of 238349
Updating 177000 of 238349
Updating 178000 of 238349
Updating 179000 of 238349
Updating 180000 of 238349
Updating 181000 of 238349
Updating 182000 of 238349
Updating 183000 of 238349
Updating 184000 of 238349
Updating 185000 of 238349
Updating 186000 of 238349
Updating 187000 of 238349
Updating 188000 of 238349
Updating 189000 of 238349
Updating 190000 of 238349
Updating 191000 of 238349
Updating 192000 of 238349
Updating 193000 of 238349
Updating 194000 of 238349
Updating 195000 of 238349
Updating 196000 of 238349
Updating 197000 of 238349
Updating 198000 of 238349
Updating 199000 of 238349
Updating 200000 of 238349
Updating 201000 of 238349
Updating 202000 of 238349
Updating 203000 of 238349
Updating 204000 of 238349
Updating 205000 of 238349
Updating 206000 of 238349
Updating 207000 of 238349
Updating 208000 of 238349
Updating 209000 of 238349
Updating 210000 of 238349
Updating 211000 of 238349
Updating 212000 of 238349
Updating 213000 of 238349
Updating 214000 of 238349
Updating 215000 of 238349
Updating 216000 of 238349
Updating 217000 of 238349
Updating 218000 of 238349
Updating 219000 of 238349
Updating 220000 of 238349
Updating 221000 of 238349
Updating 222000 of 238349
Updating 223000 of 238349
Updating 224000 of 238349
Updating 225000 of 238349
Updating 226000 of 238349
Updating 227000 of 238349
Updating 228000 of 238349
Updating 229000 of 238349
Updating 230000 of 238349
Updating 231000 of 238349
Updating 232000 of 238349
Updating 233000 of 238349
Updating 234000 of 238349
Updating 235000 of 238349
Updating 236000 of 238349
Updating 237000 of 238349
Updating 238000 of 238349

Double check our work...

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,id,stats,org,form,weight,type,id.1,visits,...,15,14,54,21,25,17,18,19,23,20
0,4,4,13186962,19773294,19428,58422,201,18,19773294,9,...,NaN,NaN,NaN,NaN,NaN,NaN,201.0,NaN,NaN,NaN
1,11,11,7361918,19041869,144,118,202,19,19041869,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202.0,NaN,NaN
2,26,26,3328278,18535351,431145,832619,103,15,18535351,11,...,103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49,49,2280741,18403727,438285,879703,105,14,18403727,79,...,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68,68,4242953,18650402,175,875632,107,15,18650402,2,...,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We now have one entry per widget per stats entry. The given widget entry will have it's weight and all other widget columns are populated with a NaN. We want to collapse these values into one entry per stats, dropping the NaN values.

In [5]:
df = df.groupby('stats').max()

Double check our work...

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,id,org,form,weight,type,id.1,visits,mobile_visits,...,15,14,54,21,25,17,18,19,23,20
stats,,,,,,,,,,,,,,,,,,,,,
18116752,18587247,700320,100,20450,59442,202,54,18116752,7,0,...,104.0,105.0,106.0,107.0,108.0,200.0,201.0,202.0,NaN,NaN
18116762,22948610,948610,200,1527,1510,202,54,18116762,1,0,...,104.0,105.0,106.0,NaN,108.0,200.0,201.0,202.0,NaN,NaN
18116769,18921829,921829,270,340,312,202,54,18116769,1,0,...,104.0,105.0,106.0,107.0,108.0,200.0,201.0,202.0,NaN,NaN
18116780,20264967,948788,384,430140,834664,202,54,18116780,2,0,...,104.0,105.0,106.0,107.0,108.0,200.0,201.0,202.0,NaN,NaN
18116782,13718672,987410,404,430140,833686,202,54,18116782,7,0,...,104.0,105.0,106.0,107.0,108.0,200.0,201.0,202.0,NaN,NaN

And now that we've waited a painfully long time to make this happen, write the reformatted dataframe to CSV so that we can never do it again.

In [7]:
df.to_csv("~/Repositories/datasets/cms_data.restructured.csv")