In [2]:
import sys, datetime
sys.path.append("../../../scripts/")
from s3_support import *

import pandas as pd
import numpy as np

In [3]:
q = '''select 
            org,
            date,
            sum(script_source_qgiv)
        from org_websites
        group by org, date'''
df = redshift_query_read(q, schema='production')

In [4]:
df.tail()

           org       date  sum
160529  441660 2022-04-15    0
160530  441947 2022-04-15    0
160531  442110 2022-04-15    0
160532  445267 2022-04-15    0
160533  447387 2022-04-15    0