I have been asked to pull qgiv form related count and $ revenue for 2024 broken down by form type: p2p, auctions, etc.
any pointers?

3. How many active Qgiv Forms are there - donation form, P2P, auction -
4. How many transactions (count) were processed by each Form Type, by month, in 2024
5. What is the total volume ($) of transactions processed by each Form Type, by month, in 2024

In [17]:
!pwd

/home/ubuntu/recommendation

In [18]:
import sys
sys.path.insert(1, "/home/ubuntu/recommendation/scripts/")
from s3_support import *

In [20]:
q_1 = """select
            f.type,
            count(t.id) as trans_count,
            sum(t.amount) as trans_vol,
            sum(t.qgiv_fee) as trans_fees,
            count(distinct(t.form)) as active_forms,
            count(distinct(t.org)) as active_orgs
        from production.transactions as t
            left join production.form as f on t.form = f.id
        where
            t.year=2024 and
            t.status='A'
        group by f.type"""
df_1 = redshift_query_read(q_1, schema='production')

q_2 = """select
            date_part('month', t.date) as month,
            f.type,
            count(t.id) as trans_count,
            sum(t.amount) as trans_vol,
            count(distinct(t.form)) as active_forms,
            count(distinct(t.org)) as active_orgs
        from production.transactions as t
            left join production.form as f on t.form = f.id
        where
            t.year=2024 and
            t.status='A'
        group by f.type, date_part('month', t.date)"""
df_2 = redshift_query_read(q_2, schema='production')

In [21]:
df_1

   type  trans_count     trans_vol    trans_fees  active_forms  active_orgs
0     3       578065  5.414801e+07  2.302190e+06          2752          898
1     1      3436657  4.516593e+08  1.291326e+07         27064         7089
2     5       163199  5.840803e+07  2.188329e+06          1202          906

In [22]:
df_2

    month  type  trans_count     trans_vol  active_forms  active_orgs
0    11.0     3        31115  3.122708e+06           918          440
1     5.0     5        12131  4.187836e+06           238          204
2     8.0     1       256807  3.375110e+07         11634         4191
3     9.0     5        24770  8.046018e+06           425          378
4     1.0     3        37515  2.882122e+06           656          335
5     3.0     1       305192  3.117311e+07          9815         3301
6     4.0     3        62318  5.953582e+06           948          430
7     7.0     1       229764  2.864743e+07         10692         3863
8     6.0     3        27911  2.719244e+06           791          379
9    10.0     5        25878  9.386360e+06           406          366
10   12.0     1       447460  1.003575e+08         15203         5216
11    1.0     5         5432  1.318107e+06           126          116
12    1.0     1       214228  2.422905e+07          8594         2907
13    2.0     3        65547  4.673701e+06           812          388
14    6.0     5         6748  2.937098e+06           190          160
15   11.0     1       327748  4.194789e+07         13811         4922
16    4.0     5        20689  5.966039e+06           300          261
17    5.0     1       241486  2.882331e+07         10540         3639
18    7.0     3        32301  3.337246e+06           774          373
19    9.0     1       296841  3.657141e+07         12477         4451
20    3.0     3        55910  4.491646e+06           909          427
21   11.0     5        20254  9.042922e+06           270          237
22   12.0     3        24804  3.870227e+06           836          407
23    2.0     5        10210  3.015358e+06           204          183
24    3.0     5        15704  5.203680e+06           267          245
25    4.0     1       314057  3.221507e+07         10387         3611
26    8.0     3        51409  4.995299e+06           910          438
27    2.0     1       216110  2.394953e+07          9232         3095
28    6.0     1       238507  2.738941e+07         10439         3671
29   10.0     3        65213  6.465256e+06           997          479
30    5.0     3        42824  4.173967e+06           890          421
31    9.0     3        81198  7.463008e+06           970          479
32    8.0     5        10560  3.805900e+06           326          286
33    7.0     5         5436  2.587506e+06           227          196
34   10.0     1       348457  4.260457e+07         12957         4620
35   12.0     5         5387  2.911206e+06           210          189