In [1]:
import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

import pandas as pd
from datetime import date, timedelta

In [3]:
q = """select
            org,
            year,
            sum(amount) as volume
        from transactions
        where status='A'
        group by year, org"""
orgs = redshift_query_read(q, schema='production')

In [4]:
orgs.head(2)

   org  year    volume
0   67  2020  68379.85
1  135  2015  49148.37

In [5]:
orgs.groupby('year')['volume'].agg(['mean', 'median']).reset_index()

    year          mean     median
0   2006     92.500000     92.500
1   2007   8247.010732   1950.000
2   2008  16366.407714   3484.000
3   2009  25777.845455   5304.750
4   2010  26768.495499   7236.000
5   2011  27898.948224   8100.000
6   2012  35549.787213  12131.485
7   2013  41075.260090  10947.070
8   2014  50152.566490  12463.520
9   2015  64449.878040  13177.500
10  2016  59895.288144  12974.245
11  2017  62267.798527  11522.470
12  2018  60271.103277  10288.940
13  2019  62363.010062  11079.000
14  2020  76769.421573  11856.765
15  2021  81273.534588  13361.150
16  2022  85753.601639  15109.450
17  2023  91744.917261  17194.275
18  2024  61116.732683   9745.940