In [2]:
import os, requests, json
import pandas as pd

In [3]:
def fetch_table(table):
    url = 'https://secure.qgiv.com/admin/qgivadmin/statistics/export_tables.php'
    payload = {'key': 'DSQR59VwyFhw21PKDF4K', 'table': table}

    rsp = requests.post(url, data=payload)
    json_data = json.loads(rsp.content)

    return json_data

# Org

In [3]:
data = fetch_table("org")

In [4]:
len(data), len(data[0])

(1, 7994)

In [5]:
orgs = pd.DataFrame(data[0])
len(orgs)

7994

In [11]:
orgs['dateLive'] = orgs['dateLive'].apply(lambda x: '' if x == '0000-00-00 00:00:00' else x)
orgs.head()

,dateCreated,dateLive,id,mail_addr_country,mail_addr_state,status,website
0,2006-05-18 00:00:00,2006-05-18 00:00:00,6,US,FL,1,www.campfire-sunshine.org
1,2007-08-01 00:00:00,2000-01-01 00:00:00,9,US,FL,1,http://www.qgiv.com/contact
2,2006-08-22 00:00:00,2006-08-22 00:00:00,13,US,FL,1,www.viste.org
3,2007-02-06 00:00:00,2007-02-06 00:00:00,17,None,,0,http://www.keithshousefoundation.com
4,2007-04-05 00:00:00,2007-04-05 00:00:00,23,None,,0,www.marthafoundation.org

In [12]:
orgs.to_csv("org.csv", index=False)

# embed

In [13]:
data = fetch_table("embed")
len(data), len(data[0])

(1, 8690)

In [14]:
embeds = pd.DataFrame(data[0])
len(embeds)

8690

In [15]:
embeds.head(3)

,id,entity,entityType,widget,widgetType,url
0,1,753,3,382020,1,https://secure.qgiv.com
1,1025,753,3,383048,1,www.qgiv.com
2,3073,9,3,625730,1,https://secure.qgiv.com/event/walkforthedogs/p...

In [16]:
embeds.to_csv("embeds.csv", index=False)

# form

In [17]:
data = fetch_table("form")
len(data), len(data[0])

(1, 37649)

In [18]:
forms = pd.DataFrame(data[0])
len(forms)

37649

In [19]:
forms.head(3)

  form org          dateCreated             dateLive        path status
0    1   6  2006-05-18 00:00:00  2006-05-18 00:00:00       cfsun      1
1    2   9  2007-08-01 00:00:00  2009-04-28 00:00:00  cipherbeta      9
2    3  13  2006-08-22 00:00:00  2006-08-22 00:00:00       viste      1

In [20]:
forms.to_csv("forms.csv", index=False)

# thermometers

In [21]:
data = fetch_table("thermometers")
len(data), len(data[0])

(1, 2118)

In [22]:
thermometers = pd.DataFrame(data[0])
len(thermometers)

2118

In [23]:
thermometers.head(3)

,id,form,status,name,fundraisingGoal,beginDate,endDate,targetEntity,targetEntityType,totalRaised,primaryGoal
0,1,793672,1,100k,100000.00,2017-03-27 12:00:00,2018-03-27 00:00:00,0,0,58830.17,0
1,2,793672,1,50,50000.00,2017-03-01 14:15:00,2017-03-30 14:15:00,0,None,10950.87,0
2,3,792651,1,100,100000.00,0000-00-00 00:00:00,0000-00-00 00:00:00,0,None,945.00,0

In [24]:
thermometers.to_csv("thermometers.csv", index=False)

# facebookfundraiser

In [25]:
data = fetch_table("facebookfundraiser")
len(data), len(data[0])

(1, 2)

In [27]:
data[0].keys()

dict_keys(['facebook_fundraisers', 'social_settings'])

In [30]:
data[0]['facebook_fundraisers'][0], data[0]['social_settings'][0]

({'id': '1',
  'entity': '831457',
  'entityType': '10',
  'fundraiserId': '2421920984745073',
  'fundraiserStatus': '0'},
 {'id': '1',
  'youtubeURL': 'http://www.youtube.com',
  'twitterURL': 'https://twitter.com/qgiv',
  'facebookURL': 'http://www.facebook.com/qgiv',
  'instagramURL': 'http://www.instagram.com/qgiv_team',
  'fbThumbnail': None,
  'fbDescription': '',
  'enableFBFundraiser': '0',
  'facebookFundraiserDescription': '',
  'form': '499781'})

### facebook fundraisers

In [33]:
fundraisers = pd.DataFrame(data[0]['facebook_fundraisers'])
len(fundraisers)

592

In [34]:
fundraisers.head(3)

  id  entity entityType      fundraiserId fundraiserStatus
0  1  831457         10  2421920984745073                0
1  2  831457         10   714875322267802                0
2  3  826595         10   917416648603188                1

In [35]:
fundraisers.to_csv("facebook_fundraisers.csv", index=False)

### social settings

In [36]:
settings = pd.DataFrame(data[0]['social_settings'])
len(settings)

9759

In [37]:
settings.head(3)

,id,youtubeURL,twitterURL,facebookURL,instagramURL,fbThumbnail,fbDescription,enableFBFundraiser,facebookFundraiserDescription,form
0,1,http://www.youtube.com,https://twitter.com/qgiv,http://www.facebook.com/qgiv,http://www.instagram.com/qgiv_team,None,,0,,499781
1,1025,,,https://www.facebook.com/profile.php?id=100006...,,None,TOFUTOFUTOFUTOFUTOFUTOFUTOFUTOFUTOFUTOFUTOFUTO...,0,,498757
2,1026,https://www.youtube.com/watch?v=T2XwTBcOmiQ,https://twitter.com/nbcgamenight,https://www.facebook.com/HollywoodGameNight,http://instagram.com/hollywoodgamenight,https://6e5501d98d6bc58de281-8a2cacd203ad4bcfc...,Everyone loves game night - join me!,0,,499780

In [38]:
settings.to_csv("social_settings.csv", index=False)

# givi

In [39]:
data = fetch_table("givi")
len(data), len(data[0])

(1, 3549)

In [40]:
givi = pd.DataFrame(data[0])
len(givi)

3549

In [41]:
givi.head(3)

     form                  website facebookURL twitterURL instagramURL
0  932230  https://www.getgivi.com                                None
1  932254        http://viste.org/                                None
2  932385             www.qgiv.com                                None

In [42]:
givi.to_csv("givi.csv", index=False)

# badges

In [43]:
data = fetch_table("badges")
len(data), len(data[0])

(1, 52657)

In [45]:
badges = pd.DataFrame(data[0])
len(badges)

52657

In [46]:
badges.head(3)

   entity entityType status badgeType targetEntityType
0  480324          4      1         4               23
1  480324          4      1         5               23
2  480324          4      1         6               23

In [47]:
badges.to_csv("badges.csv", index=False)

# transauction

In [11]:
data = fetch_table("transauction")
len(data), len(data[0])

(1, 4818)

In [12]:
ta = pd.DataFrame(data[0])
ta.head(3)

,bidder,checkNumber,createdTime,form,id,lastUpdate,offlineType,originalAmount,product,qty,referrer,referrerType,shippingCost,shippingInfo,shippingMethod,status,tax,total,transaction,unitCost
0,40,0,2019-07-24 11:49:44,947824,1,2019-08-13 15:13:41,0,5.00,84868,1,0,0,0.00,0,0,1,0.00,5.00,7686586,5.00
1,40,0,2019-07-24 12:25:59,947824,2,2019-08-13 15:13:41,0,25.00,84868,5,0,0,0.00,0,0,1,0.00,25.00,7686586,5.00
2,47,0,2019-07-24 17:29:27,947913,4,2019-07-24 17:30:19,0,5.00,84929,1,0,0,0.00,0,0,1,0.00,5.00,7591168,5.00

In [13]:
ta.columns

Index(['bidder', 'checkNumber', 'createdTime', 'form', 'id', 'lastUpdate',
       'offlineType', 'originalAmount', 'product', 'qty', 'referrer',
       'referrerType', 'shippingCost', 'shippingInfo', 'shippingMethod',
       'status', 'tax', 'total', 'transaction', 'unitCost'],
      dtype='object')

# eventsettings

In [4]:
data = fetch_table("eventsettings")
len(data), len(data[0])

(1, 8925)

In [5]:
es = pd.DataFrame(data[0])
es.head(3)

,additionalNonFundraising,additionalRegistrants,alias,allowUnattachedMatch,allowableEmergencyContacts,allowableEmergencyContactsForSub,cacheLimit,classificationLabel,classificationLimitDisplayTeamThreshold,classificationLimitDisplayThreshold,...,totalCheck,totalMatching,totalOfflineUnverified,totalOfflineVerified,totalOnline,totalRaised,transNotification,twitterUrl,unverifiedDonations,videoUrl
0,0,1,hobnob,0,0,0,0,Classifications,10,10,...,0.00,0.00,17646.54,7910.54,17030.44,42587.52,,twitter.com/Qgiv,3,https://www.youtube.com/watch?v=6y71y2aTR5k
1,0,0,cob,0,1,0,5,Location,10,10,...,0.00,0.00,285.18,2436.50,5345.00,8066.68,None,http://twitter.com/#!/JewishBU,2,
2,0,1,thwfmhai,0,0,0,5,Agency,10,10,...,305.00,0.00,1470.50,50.00,11507.70,13028.20,None,,2,

In [6]:
[c for c in es.columns if 'date' in c.lower()]

['endDate', 'startDate']

In [7]:
[c for c in es.columns if 'id' in c or 'form' in c or 'event' in c]

['enableIndividualRegistration',
 'eventRedirectUrl',
 'eventStatus',
 'form',
 'id',
 'videoUrl']

In [8]:
auction_forms = [947824, 947190, 947169, 947765, 947282, 948021, 948196, 948183,
               948317, 948192, 948368, 947191, 947963, 949088, 947901, 948968,
               948694, 949232, 949811, 948523, 947230, 948619, 950129, 949422,
               947955, 948806, 949761, 949939, 948724, 951232, 947201, 949349,
               949527, 951564, 951467, 952450, 953182, 952558, 952927, 952044,
               951674, 952266, 953187, 952595, 951712, 951791, 954635, 953775,
               953490, 952956, 949357, 954971, 951578, 953495, 953787, 950600,
               953451, 950704, 952472, 954024, 954198, 955648, 955639, 955832,
               952490, 956249, 957337, 957625, 956416, 952049, 953907, 956629,
               947244, 956035, 957613, 957490, 950486]
es[es['form'].isin(auction_forms)]

Empty DataFrame
Columns: [additionalNonFundraising, additionalRegistrants, alias, allowUnattachedMatch, allowableEmergencyContacts, allowableEmergencyContactsForSub, cacheLimit, classificationLabel, classificationLimitDisplayTeamThreshold, classificationLimitDisplayThreshold, closedMessage, collectOptIn, defaultAccountAvatar, defaultFundraisingGoal, defaultTeamAvatar, defaultTeamFundraisingGoal, disabledMessage, donationCaptcha, donationCutoff, donationPhoneFieldsType, emergencyContactCell, emergencyContactEmail, enableClassificationForDonation, enableClosedRedirect, enableCountdown, enableDonationToEvent, enableDonationToParticipant, enableDonationToTeam, enableEmergencyContacts, enableEndedRedirect, enableIndividualRegistration, enableInternationalDonations, enableInternationalRegistrations, enableMatching, enableMultipleTeamLeaders, enableNonFundraising, enableOnlineWaiver, enableOptionalDonation, enableOtherDonationAmount, enableRedirect, enableRegisterDonor, enableSocialSharing, enableTeamCreation, enableTeamJoin, enableTeams, enableUniqueTeamName, endDate, eventRedirectUrl, eventStatus, facebookShareThumbnail, facebookUrl, form, fundraisingGoal, id, includeEmailSignature, includeGiftAssistInGoal, includePurchasesInGoal, includeRegistrationInGoal, limitTeamJoiningToClassification, lockTeams, matchingRatio, matchingType, maxTeamMembers, minParticipantGoal, minTeamGoal, offlineDonations, onlineWaiver, personalDefaultImage, phoneFieldsType, primaryContact, primaryNonFundraising, regClosedMessage, registrationCutoff, requireClassification, showClassificationInSearch, socialDescription, socialPlacementDonation, socialPlacementEventHome, socialPlacementPFP, socialPlacementTFP, socialPlacementThermometer, startDate, storeNotification, teamDefaultImage, timezone, totalCash, totalCheck, totalMatching, totalOfflineUnverified, totalOfflineVerified, totalOnline, totalRaised, transNotification, twitterUrl, unverifiedDonations, videoUrl]
Index: []

[0 rows x 96 columns]

In [ ]:
auction_forms = ta['form'].unique().tolist()
len(es), len(es[es['form'].isin(auction_forms)])

In [16]:
auction_forms = [953596, 954969, 953459, 953671, 954277, 954125, 949856, 955470, 957762, 954461, 955772, 953491, 
                954558, 954373, 954307, 954646, 953681, 954316, 954635, 952450, 957526, 952051, 952169, 954048, 
                953888, 953787, 956416, 949088, 950486, 953654, 952050, 956035, 951791, 952558, 955203, 955832, 
                952490, 952595, 954024, 949939, 951564, 954198, 949232, 949527, 953495, 950129, 948523, 949422, 
                956249, 950600, 953404, 952956, 953490, 948694, 953775, 949761, 951578, 949349, 952927, 953451, 
                948619, 956629, 951467, 949357, 953187, 953907, 948806, 951674, 951712, 948968, 952266, 952049, 
                950704, 952044, 952472]

In [17]:
len(es), len(es[es['form'].isin(auction_forms)])

(8925, 0)