In [4]:
import sys, datetime
import pandas as pd
import numpy as np

sys.path.insert(1, '../../scripts/')
from s3_support import *

# orgs

In [5]:
q = "select * from organization"
df_orgs = redshift_query_read(q, schema="production")

In [7]:
df_orgs.head(3)

,id,datecreated,datelive,state,country,status,website,date
0,6,2006-05-18,2006-05-18,FL,US,1,www.campfire-sunshine.org,2020-07-27 07:55:13.383184
1,13,2006-08-22,2006-08-22,FL,US,1,www.viste.org,2020-07-27 07:55:13.383184
2,23,2007-04-05,2007-04-05,None,None,0,www.marthafoundation.org,2020-07-27 07:55:13.383184

In [8]:
df_orgs.groupby('date')['id'].count()

date
2020-07-27 07:55:13.383184    8494
Name: id, dtype: int64

# embed

In [9]:
q = "select * from embed"
df_embeds = redshift_query_read(q, schema="production")

In [10]:
df_embeds.head(3)

,id,entity,entitytype,widgettype,url,date
0,1,753,3,1,https://secure.qgiv.com,2020-07-27 07:55:25.664525
1,3073,9,3,1,https://secure.qgiv.com/event/walkforthedogs/p...,2020-07-27 07:55:25.664525
2,5121,292867,3,1,https://thekitchencommunity.org/chicagoappreci...,2020-07-27 07:55:25.664525

In [11]:
df_embeds.groupby('date')['id'].count()

date
2020-07-27 07:55:25.664525    9558
Name: id, dtype: int64