In [145]:
import pandas as pd
import sys

sys.path.insert(1, '/home/ubuntu/Recommendation/projects/form health v2/justin/lib')
from data_loader import load_transactions, load_qgiv_analytics, load_transactions_in_range
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler

from typing import List
from datetime import datetime, timedelta

In [146]:
# Load transaction data
transactions = load_transactions(
    columns=[
        'id', 'date', 'org', 'form', 'donations_amt', 'donations_count',
    ]
)

In [147]:
transactions

              id       date     org    form  donations_amt  donations_count
0        6487918 2019-01-01     421     393          200.0                1
1        6487923 2019-01-01  441726  928743          101.0                1
2        6487925 2019-01-01  436247  931295          100.0                1
3        6487926 2019-01-01  154627  358466          100.0                1
4        6487927 2019-01-01  442410  931716         1000.0                1
...          ...        ...     ...     ...            ...              ...
2019900  8587668 2019-12-31  426042  794701          100.0                1
2019901  8587669 2019-12-31  438488  946623          200.0                1
2019902  8587671 2019-12-31  444018  945140           25.0                1
2019903  8587673 2019-12-31  436247  952929          250.0                1
2019904  8587674 2019-12-31   31794  103497           50.0                1

[2019905 rows x 6 columns]

In [168]:
rolling_means = transactions \
    .groupby(['form', 'date']) \
    ['donations_amt'] \
    .sum() \
    .rolling(window=7) \
    .mean() \
    .reset_index() \
    .rename(columns={'donations_amt': 'previous_seven_day_mean'})

In [170]:
rolling_mean = rolling_means.loc[(rolling_means['form'] == 945140) & (rolling_means['date'] == datetime(2019, 7, 29))]['previous_seven_day_mean']

In [175]:
if rolling_mean.empty:
    print('Empty')
else:
    print(rolling_mean.values[0])

557.6742857134334