In [1]:
import pandas as pd
import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

In [5]:
q = "select date_trunc('day', date) as date, count(id) as count, sum(amount) as vol from transactions where status='A' group by date_trunc('day', date)"
df = redshift_query_read(q, schema="public")

In [7]:
df.sort_values('vol', ascending=False).head()

           date  count           vol
4879 2020-06-18   5006  1.006282e+08
4345 2020-06-16   4662  1.005404e+08
4784 2020-12-01  40059  6.193656e+06
4232 2019-12-31  18397  5.797695e+06
2759 2018-12-31  16504  5.170968e+06