In [1]:
import pandas as pd

import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

In [2]:
q = "select form, bounces, views from googleanalytics_traffic"
df = redshift_query_read(q, schema='public')

In [4]:
df.tail()

            form  bounces  views
38058555  974296        0      1
38058556  974296        0      2
38058557  974296        0      4
38058558  974296        0      1
38058559  974296        1      2

In [5]:
df['bounce_rate'] = df['bounces'] / df['views']
df['bounce_rate'].mean(), df['bounce_rate'].median()

(0.20404294712078785, 0.0)