In [63]:
import pandas as pd
import numpy as np

import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *
%matplotlib inline

In [64]:
q = '''select
            form,
            date_trunc('day', timestamp) as date,
            count(distinct(visitorid)) as visitors
        from matomo_traffic
        group by date_trunc('day', timestamp), form'''
traff = redshift_query_read(q, schema='production')

In [65]:
min_date = traff['date'].min()
max_date = traff['date'].max()

min_date, max_date

(Timestamp('2022-09-01 00:00:00'), Timestamp('2023-02-09 00:00:00'))

In [66]:
q = '''select
            form,
            date,
            count(distinct(id)) as transactions
        from transactions
        where
            status='A' and
            (recurring=0 or recurring_origin=1) and
            date>'{}' and
            date<'{}' and
            source not in ('vt', 'mobilevt')
        group by form, date'''.format(min_date, max_date)
trans = redshift_query_read(q, schema='production')

In [67]:
df = traff.merge(trans, how='outer').fillna(0)
df = df[df['form']!=0]

In [68]:
len_df = len(df)
perc_trans_gt_visitors = (len(df[df['transactions']>df['visitors']]) / len_df) * 100.
perc_no_visitors = (len(df[(df['transactions']>0)&(df['visitors']==0)]) / len_df) * 100.

print("{:,} entries".format(len_df))
print("{:.2f}% have more transactions then visitors".format(perc_trans_gt_visitors))
print("{:.2f}% have no visitors, >0 transactions".format(perc_no_visitors))

545,552 entries
16.97% have more transactions then visitors
15.07% have no visitors, >0 transactions

In [69]:
df['conversion'] = df['transactions'] / df['visitors']

In [70]:
df.head()

     form       date  visitors  transactions  conversion
0  992930 2022-11-22      26.0           0.0    0.000000
1  928795 2023-02-03       6.0           1.0    0.166667
2  444339 2023-01-04      32.0           0.0    0.000000
3  961447 2022-09-30     361.0           0.0    0.000000
5  438418 2022-12-13     637.0           0.0    0.000000

In [71]:
df_inf = df.copy()
df['conversion'] = df['conversion'].replace(np.inf, np.nan)

print("{:,} entries".format(len(df)))
print("{:,} entries after removing inf".format(len(df[~df['conversion'].isna()])))

545,552 entries
463,362 entries after removing inf

539,452 entries

455,649 entries after removing inf

In [72]:
df['conversion'].agg(['mean', 'median']).reset_index()

    index  conversion
0    mean    0.233127
1  median    0.000000

In [73]:
df['month'] = df['date'].dt.to_period('M')
df.groupby('month')['conversion'].agg(['mean', 'median']).reset_index()

     month      mean  median
0  2022-09  0.188445     0.0
1  2022-10  0.199994     0.0
2  2022-11  0.218103     0.0
3  2022-12  0.459168     0.0
4  2023-01  0.181999     0.0
5  2023-02  0.267760     0.0

In [77]:
df_inf.iloc[-100:]

          form       date  visitors  transactions  conversion
545608  995683 2023-01-11       0.0           1.0         inf
545609  967503 2022-12-22       0.0           1.0         inf
545610   71732 2022-12-30       0.0           1.0         inf
545611  995488 2022-12-08       0.0           1.0         inf
545612  999063 2022-12-16       0.0           1.0         inf
...        ...        ...       ...           ...         ...
545703  973969 2022-12-30       0.0           1.0         inf
545704  993272 2023-01-04       0.0           1.0         inf
545705  995732 2023-01-06       0.0           1.0         inf
545706  976888 2023-01-10       0.0           1.0         inf
545707  964597 2023-01-10       0.0           1.0         inf

[100 rows x 5 columns]

In [76]:
df_inf[df_inf['form']==994529]

          form       date  visitors  transactions  conversion
826     994529 2022-10-18     267.0          20.0    0.074906
985     994529 2022-10-29      57.0          11.0    0.192982
2967    994529 2022-10-19     142.0          11.0    0.077465
8362    994529 2022-11-03      37.0          12.0    0.324324
10482   994529 2022-11-05      19.0          11.0    0.578947
18777   994529 2022-10-27     116.0          13.0    0.112069
19857   994529 2022-10-25     617.0          25.0    0.040519
20131   994529 2022-10-23     159.0           5.0    0.031447
24238   994529 2022-11-09      17.0           5.0    0.294118
32486   994529 2022-11-04      28.0           8.0    0.285714
35771   994529 2022-10-26     229.0          12.0    0.052402
35996   994529 2022-10-24     175.0          15.0    0.085714
37159   994529 2022-10-22     145.0           7.0    0.048276
38704   994529 2022-11-01      50.0          10.0    0.200000
42646   994529 2022-11-08      25.0          10.0    0.400000
46894   994529 2022-09-23       2.0           0.0    0.000000
48370   994529 2022-11-11       1.0           3.0    3.000000
55098   994529 2022-10-12       8.0           0.0    0.000000
66494   994529 2022-10-20     112.0           8.0    0.071429
68669   994529 2022-10-28      57.0          10.0    0.175439
69419   994529 2022-10-30      60.0          13.0    0.216667
73240   994529 2022-10-31      63.0           7.0    0.111111
75000   994529 2022-10-21     105.0           7.0    0.066667
76821   994529 2022-11-10       8.0           3.0    0.375000
89608   994529 2022-11-02      31.0          13.0    0.419355
92097   994529 2022-10-13       8.0           1.0    0.125000
101244  994529 2023-02-02       1.0           0.0    0.000000
123713  994529 2022-10-17      61.0           8.0    0.131148
129922  994529 2022-11-19       3.0           0.0    0.000000
134982  994529 2022-10-11      15.0           1.0    0.066667
149277  994529 2022-10-06       3.0           0.0    0.000000
188629  994529 2022-11-29       2.0           0.0    0.000000
226314  994529 2022-10-04       5.0           0.0    0.000000
228988  994529 2022-11-14       7.0           1.0    0.142857
236701  994529 2022-11-16       2.0           0.0    0.000000
253793  994529 2023-01-19       1.0           0.0    0.000000
253989  994529 2022-10-05       4.0           0.0    0.000000
255149  994529 2022-11-26       2.0           0.0    0.000000
255592  994529 2022-10-10      10.0           0.0    0.000000
257140  994529 2022-11-07      15.0          12.0    0.800000
291500  994529 2022-10-14       3.0           0.0    0.000000
291920  994529 2022-10-07       4.0           0.0    0.000000
298095  994529 2022-11-15       1.0           0.0    0.000000
307604  994529 2022-11-18       1.0           0.0    0.000000
307753  994529 2022-11-30       1.0           0.0    0.000000
312813  994529 2022-11-28       1.0           0.0    0.000000
372343  994529 2022-11-20       2.0           0.0    0.000000
381981  994529 2022-10-16       1.0           0.0    0.000000
401786  994529 2022-11-17       3.0           0.0    0.000000
414016  994529 2022-11-24       1.0           0.0    0.000000
437195  994529 2022-11-25       2.0           0.0    0.000000
438602  994529 2022-11-12       1.0           0.0    0.000000
451914  994529 2022-09-28       1.0           0.0    0.000000
454678  994529 2022-11-22       1.0           0.0    0.000000
461177  994529 2022-11-23       1.0           0.0    0.000000
509579  994529 2022-11-13       0.0           1.0         inf
527981  994529 2022-11-06       0.0           9.0         inf