In [3]:
import pandas as pd
import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *
%matplotlib inline

In [4]:
q = '''select 
            date_trunc('year', date) as year, 
            sum(amount) as vol, 
            count(id) as count
        from transactions
            where form={} and status='A'
        group by date_trunc('year', date)'''

In [11]:
eval_forms = [928186]

In [12]:
for form in eval_forms:
    q = "select count(id), sum(amount) from transactions where form={} and status='A'".format(form)
    df = redshift_query_read(q)
    print("{}: count - {}; sum - {}".format(form, df['count'].iloc[0], df['sum'].iloc[0]))

928186: count - 60; sum - 15355.0

In [13]:
q = '''select 
            form, 
            date_trunc('day', date) as day,
            count(id) as count, 
            sum(amount) as vol
        from transactions
        where status='A' and date>=2018 and source='don_form' and form={}
        group by form, date_trunc('day', date)'''.format(928186)
trans = redshift_query_read(q)
trans

      form        day  count     vol
0   928186 2018-07-11      1   400.0
1   928186 2019-08-26      1   400.0
2   928186 2020-08-20      1   200.0
3   928186 2020-08-25      1     0.0
4   928186 2018-08-21      2   150.0
5   928186 2018-08-20      1    75.0
6   928186 2019-06-07      1   400.0
7   928186 2020-09-02      2   450.0
8   928186 2018-09-08      1   110.0
9   928186 2019-08-24      1   100.0
10  928186 2019-08-14      1   300.0
11  928186 2019-08-19      1   400.0
12  928186 2020-07-20      1   400.0
13  928186 2019-08-12      1   300.0
14  928186 2019-08-22      1   150.0
15  928186 2019-08-05      1   300.0
16  928186 2018-08-24      1    75.0
17  928186 2019-05-16      1   400.0
18  928186 2018-07-16      1   400.0
19  928186 2020-08-31      1   300.0
20  928186 2020-08-27      4  1075.0
21  928186 2019-09-05      1   300.0
22  928186 2018-06-29      1   300.0
23  928186 2020-08-28      2   375.0
24  928186 2019-08-02      1   225.0
25  928186 2018-08-09      1    50.0
26  928186 2019-09-10      1    75.0
27  928186 2019-04-11      1   300.0
28  928186 2018-07-21      1   100.0
29  928186 2018-08-27      1   300.0
30  928186 2019-09-12      4  2850.0
31  928186 2019-05-08      1   150.0
32  928186 2020-08-26      1   150.0
33  928186 2018-08-14      1   300.0
34  928186 2019-06-04      1   400.0
35  928186 2018-07-27      1    50.0
36  928186 2018-07-31      1   150.0
37  928186 2019-09-04      1   150.0