In [1]:
import sys
sys.path.insert(1, '../../scripts/')
from s3_support import *

import pandas as pd

In [3]:
q = '''select
            year,
            count(distinct(email)) as donor
        from transactions
        where status='A' and recurring=0
        group by year'''
ot = redshift_query_read(q, schema='production')

In [4]:
q = '''select
            year,
            count(distinct(email)) as donor
        from transactions
        where status='A' and recurring!=0
        group by year'''
rec = redshift_query_read(q, schema='production')

In [7]:
ot.columns = ['year', 'onetime']
rec.columns = ['year', 'recurring']

In [9]:
df = ot.merge(rec, on='year')
df['ratio'] = df['onetime'] / df['recurring']

In [10]:
df.sort_values('year', ascending=True)

    year  onetime  recurring      ratio
0   2006        3          1   3.000000
5   2007     1355        121  11.198347
3   2008    10522        527  19.965844
11  2009    36446       2292  15.901396
8   2010    47973       3798  12.631122
2   2011    69832       6012  11.615436
4   2012   107725       9594  11.228372
9   2013   169949      13700  12.405036
13  2014   220305      19366  11.375865
1   2015   273342      23566  11.598999
12  2016   293904      28707  10.238060
18  2017   410106      36920  11.107963
16  2018   566804      51565  10.992029
6   2019   749941      64881  11.558715
15  2020   973896      85320  11.414627
14  2021   976411     113249   8.621807
17  2022  1072919     130617   8.214237
10  2023  1218215     140759   8.654615
7   2024   181672     103023   1.763412